# CA-7 LP1

# Bussiness Understanding

Our team is intending to venture into the Indian Ecosyatem and as data analyst we are to investigate the ecosystem and propose best course of action.

We will be using the CRISP-DM Methodology. We are to understand the objectives and requirements of the project, determine data mining goals, define business success criteria. Detailed plan for each project phase 


### Project Title : Viability of Setting up a Startup Business in India 

 * Hypothesis testing:

 Null Hypothesis (H0) There is no significant difference in the amount of funding recieved by startups across different sectors and stages 

 Alternative Hypothesis (H1) There is a significant difference in the amount of funding recieved by different sectors and stages 
 

* Project Description - 
Our team is aiming at setting up startup in India. Using the provided information we are accessing the viability of setting up our busiess there .



ANALYTICAL QUESTIONS
1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?
How has the average funding amount in each sector changed over the years (2018 - 2021)
 
2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?
 
3. Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?
 
4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?
 
5. Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?
 
6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?
 
7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?
 
8. Which Business is more viable to set - The best performing business(s) ?

# Data Understanding

 We have been provided with various datasets located at 3 different locations ie Database, OneDrive and GitHub Repository. In them we will find the start-ups details, the funding amounts recieved and the investors information from 2018-2021.
 To provide a smooth flow of project, in this phase we will be loading the data and cleaning the data. In the next phase, data preparation phase, we will then concatenate the data.

In [4]:
#Install necessary libraries 

%pip install pyodbc #install our connector which allows us to connect with our databases
%pip install python-dotenv
%pip install openpyxl

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#install'

Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
#import the necessary packages 

import pyodbc 
from dotenv import dotenv_values 
import plotly.express as px
import plotly.graph_objs as go
import pandas as pd 
import warnings

warnings.filterwarnings ('ignore')

In [6]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\Notebooks\\.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get('server')
database = environment_variables.get('database')
username = environment_variables.get('username')
password = environment_variables.get('password')

In [7]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [8]:
connection = pyodbc.connect(connection_string)

1st Dataset-2020 (Data)

* This dataset is loaded from SQL Database

In [9]:
# Query the tabeles as per the given instructions (1st Dataset)

query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''

data =pd.read_sql(query, connection)

In [10]:
data.head (10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None

In [27]:
data.tail(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1045,XpressBees,2015,Unknown,Logistics,Provides end to end supply chain solutions,"Supam Maheshwari, Amitava Saha",Alibaba,10000000.0,Unknown,None
1046,FarmERP,2001,Pune,Agritech,Smart agriculture management ERP software plat...,"Santosh Shinde, Sanjay Borkar",TechnoGen,3000000.0,Series A,None
1047,Wealth Bucket,2018,Unknown,Fintech,An online platform for mutual fund investments,"Himanshu Jain, Pulkit Jain","NorthStar, Vinod Khatumal",3000000.0,Unknown,None
1048,GoMechanic,2016,Delhi,Automobile Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...","Chiratae Ventures, Sequoia Capital, Orios Vent...",14700000.0,Series B,None
1049,Fashor,2017,Chennai,Fashion,Women’s fashion and apparel,"Vikram Kankaria, Priyanka Kankaria",Sprout venture partners,1000000.0,Pre Series A,None
1050,Leverage Edu,0,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,Unknown,None
1051,EpiFi,0,Unknown,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,Unknown,None
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [13]:
data.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [14]:
data.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [15]:
data.shape

(1055, 10)

In [16]:
data.duplicated().sum()

3

In [17]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [18]:
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [19]:
print (data.columns )

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

Data cleaning 1st Dataset-2020 (Data)

In [20]:
# Fill missing values 

# For columns with a few missing values, fill with 'Unknown'
data['HeadQuarter'].fillna('Unknown', inplace=True)
data['Sector'].fillna('Unknown', inplace=True)
data['Founders'].fillna('Unknown', inplace=True)
data['Investor'].fillna('Unknown', inplace=True)
 
# For 'Founded', fill missing values with 0
data['Founded'].fillna(data ['Founded']==0, inplace=True)
 
# For 'Amount', fill missing values with the median funding amount
data['Amount'].fillna(data['Amount'].median(), inplace=True)
 
# For 'Stage', fill missing values with a placeholder
data['Stage'].fillna('Unknown', inplace=True)

In [24]:
#Check to confirm there are no missing values 

data.isnull().sum()

Company_Brand       0
Founded             0
HeadQuarter         0
Sector              0
What_it_does        0
Founders            0
Investor            0
Amount              0
Stage               0
column10         1053
dtype: int64

In [26]:
# Convert 'Founded'  to integer datatype 

data['Founded'] = data ['Founded'].astype(int)

In [29]:
# Convert the stage column from object to category 

data['Stage'] = data['Stage'].astype('category')

In [30]:
#Drop the Column10 column it has more than 95% NULL values and also in the 2021,2019,2018 data this column is not available meaning its impact is minimal
data.drop('column10', axis=1, inplace=True)

In [31]:
# Drop duplicates

data.drop_duplicates( inplace=True)

In [32]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1052 non-null   object
 1   Founded        1052 non-null   int32
 2   HeadQuarter    1052 non-null   object
 3   Sector         1052 non-null   object
 4   What_it_does   1052 non-null   object
 5   Founders       1052 non-null   object
 6   Investor       1052 non-null   object
 7   Amount         1052 non-null   float64
 8   Stage          1052 non-null   category
dtypes: category(1), float64(1), int32(1), object(6)
memory usage: 72.3+ KB

2nd Dataset-2021 (data2)

* This dataset is loaded from SQL Database

In [40]:
#Loading the second dataset which is our tabel 2 (Data2)
query ='''SELECT * FROM dbo.LP1_startup_funding2021'''
 
data2 = pd.read_sql(query, connection)

DatabaseError: Execution failed on sql: SELECT * FROM dbo.LP1_startup_funding2021
('08S01', '[08S01] [Microsoft][ODBC SQL Server Driver]Communication link failure (0) (SQLExecDirectW)')
unable to rollback

In [39]:
#data2.head ()

NameError: name 'data2' is not defined

In [ ]:
#data2.info()

In [ ]:
#data2.columns

In [ ]:
#data2.shape

In [ ]:
#data2.describe().T

In [ ]:
#data2.isnull().sum()

In [ ]:
data2.duplicated().sum()

Data Cleaning 2nd Dataset (data2)

In [ ]:
# Identify duplicates (excluding the first occurrence)
duplicates = data2.duplicated(keep='first')

# Compute the mode of each column
mode_values = data2.mode().iloc[0]

# Ensure that the mode values match the column names
mode_dict = mode_values.to_dict()

# Fill duplicates with the mode values
data2.loc[duplicates, :] = data2.loc[duplicates, :].apply(lambda row: pd.Series(mode_dict), axis=1)

In [ ]:
#Check to see if the are duplicated values after filling with the mode values 

data2.duplicated().sum()

In [ ]:
#Drop the duplicates
data2 = data2.drop_duplicates()

In [ ]:
#Check to see if there are still remaining duplicates 

data2.duplicated().sum()

In [ ]:
# Fill missing values in our second data
data2.fillna(0, inplace=True)

In [ ]:
#Check to confirm there are no missing values     

data2.isnull().sum()

In [ ]:
# Converting 'Amount' Column from string to numeric

data2['Amount'] = pd.to_numeric(data2['Amount'], errors='coerce')

# Check to confirm 'Amount Column is float
data2['Amount'] = data2['Amount'].astype(float)

print(data2['Amount'].dtype)

3rd Dataset 2019 (df)

* This Dataset is downloaded from a onedrive

In [ ]:
#Load the one drive file which is the 2019 startups data (3rd Dataset)

df=pd.read_excel ('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\startup_funding2019.xlsx')

In [ ]:
df.head ()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.describe().T

In [ ]:
df.info()

In [ ]:
print(df.columns)

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

Data cleaning 3rd Dataset 2019- (df)

In [ ]:
#Convert the Amount column to numeric values 

# Convert to numeric, coercing errors to NaN
df['Amount($)'] = pd.to_numeric(df['Amount($)'], errors='coerce')

# Check to confirm 'Amount Column is float
df['Amount'] = data2['Amount'].astype(float)

print(df['Amount'].dtype)

In [ ]:
# Fill missing values in our Table 3 (df)
df.fillna(0, inplace=True)

In [ ]:
# Check to confirm there are no missing values
df.isnull().sum()

4th Dataset 2018 (df2)

* This dataset is from a GitHub repository. We had to clone from GitHub then copy csv file to our notebook

In [ ]:
# Load data from GitHub repository 

df2=pd.read_csv('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\CA-LP1-Indian-Startup-Ecosystem-1')

In [ ]:
df2.head ()

In [ ]:
df2.shape

In [ ]:
df2.info ()

In [ ]:
df2.isnull().sum()

In [ ]:
df2.columns

In [ ]:
df2.duplicated().sum()

In [ ]:
df2.duplicated ()

Data Cleaning our 4th Dataset (df2)

In [ ]:
#Converting our Amounts table from string to Float datatype 

df2['Amount'] =pd.to_numeric(df2['Amount'], errors='coerce')

# Check to confirm 'Amount Column is float
df2['Amount'] = data2['Amount'].astype(float)

print(df2['Amount'].dtype)

## Data Preparation

Cleaning of our data was done after each of the datasets. In this phase we concatenate our data

In [ ]:
# Create standadized column names of data, data2, df and df2 

# Step1 how our columns appear in each of the datasets

data = pd.DataFrame(columns=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'])
data2 = pd.DataFrame(columns=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'])
df = pd.DataFrame(columns=['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage'])
df2 = pd.DataFrame(columns=['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location', 'About Company'])

In [ ]:
# Step 2 Column maping

# The standardized name column should be :

'company_brand','founded','headquarter','sector','what_it_does','founders','investor','amount','stage'

# Column mapping for `data` and `data2`
mapping_data = {
    'Company_Brand': 'company_brand',
    'Founded': 'founded',
    'HeadQuarter': 'headquarter',
    'Sector': 'sector',
    'What_it_does': 'what_it_does',
    'Founders': 'founders',
    'Investor': 'investor',
    'Amount': 'amount',
    'Stage': 'stage'
}

# Column mapping for `df`
mapping_df = {
    'Company/Brand': 'company_brand',
    'Founded': 'founded',
    'HeadQuarter': 'headquarter',
    'Sector': 'sector',
    'What it does': 'what_it_does',
    'Founders': 'founders',
    'Investor': 'investor',
    'Amount($)': 'amount',
    'Stage': 'stage'
}

# Column mapping for `df2`
mapping_df2 = {
    'Company Name': 'company_brand',
    'Industry': 'sector',
    'Round/Series': 'stage',
    'Amount': 'amount',
    'Location': 'headquarter',
    'About Company': 'what_it_does'
}

In [ ]:
#Step 3 Rename Columns 

# Rename columns
data = data.rename(columns=mapping_data)
data2 = data2.rename(columns=mapping_data)
df = df.rename(columns=mapping_df)
df2 = df2.rename(columns=mapping_df2)

In [ ]:
# Step 4 Ensure consistency 

# Ensure consistency by selecting only the standardized columns
standardized_columns = ['company_brand', 'founded', 'headquarter', 'sector', 'what_it_does', 'founders', 'investor', 'amount', 'stage']

# Reindex datasets to have only standardized columns and fill missing columns with NaN
data = data.reindex(columns=standardized_columns)
data2 = data2.reindex(columns=standardized_columns)
df = df.reindex(columns=standardized_columns)
df2 = df2.reindex(columns=standardized_columns)

print(data.columns)
print(data2.columns)
print(df.columns)
print(df2.columns)

Merge all the 4 datasets

In [ ]:

df_merge = pd.concat([data, data2, df, df2], ignore_index=True)

#df_merge.head()

print ("\nMerged DataFrame: ")
print (df_merge.head())