# CA-7 LP1

# Bussiness Understanding

### Our team is intending to venture into the Indian Ecosyatem and as data analyst we are to investigate the ecosystem and propose best course of action.

### We will be using the CRISP-DM Methodology. We are to understand the objectives and requirements of the project, determine data mining goals, define business success criteria. Detailed plan for each project phase 

### Tasks: 

#### Title :
 # Viability of setting a Business in India 

 Hypothesis testing:

 Null Hypothesis (H0) There is no significant difference in the amount of funding recieved by startups across different sectors and stages 

 Alternative Hypothesis (H1) There is a significant difference in the amount of funding recieved by different sectors and stages 

#### Project Description - 
Our team is aiming at setting up startup in India. Using the provided information we are accessing the viability of setting up our busiess there .


ANALYTICAL QUESTIONS
1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?
How has the average funding amount in each sector changed over the years (2018 - 2021)
 
2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?
 
3.Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?
 
4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?
 
5.Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?
 
6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?
 
7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?
 
8. Which Business is more viable to set - The best performing businesses?

# Data Understanding

 We have been provided with various datasets. In them we will find the start-ups details, the fundin amounts recieved and the investors information. From there analyse the funding recieved by startups in india from 2018-2021

 We are to collect data 

Describe data 

Explore thhe data- query it visualise it identify relationships among the data

In [72]:
%pip install pyodbc #install our connector which allows us to connect with our databases
%pip install python-dotenv
%pip install openpyxl

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#install'

Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [73]:
#importing all the necessary packages 

import pyodbc 
from dotenv import dotenv_values 
import pandas as pd 
import warnings

warnings.filterwarnings ('ignore')

In [74]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\Notebooks\\.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get('server')
database = environment_variables.get('database')
username = environment_variables.get('username')
password = environment_variables.get('password')

In [75]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [76]:
connection = pyodbc.connect(connection_string)

In [77]:
# Query the tabeles as per the given instructions 
query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''

data =pd.read_sql(query, connection)

In [104]:
data.head ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [80]:
data.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [81]:
data.shape

(1055, 10)

In [82]:
data.duplicated().sum()

3

In [83]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [84]:
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [85]:
print (data.columns )

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [105]:
#Drop the Column10 column it has too many NULL values and also in the 2021 data this column is not available  meaning its impact is minimal

data.drop('column10' , axis=1, inplace=True)
data.head

<bound method NDFrame.head of      Company_Brand  Founded HeadQuarter              Sector  \
0       Aqgromalin   2019.0     Chennai            AgriTech
1         Krayonnz   2019.0   Bangalore              EdTech
2     PadCare Labs   2018.0        Pune  Hygiene management
3            NCOME   2020.0   New Delhi              Escrow
4       Gramophone   2016.0      Indore            AgriTech
...            ...      ...         ...                 ...
1050  Leverage Edu      NaN       Delhi              Edtech
1051         EpiFi      NaN        None             Fintech
1052       Purplle   2012.0      Mumbai           Cosmetics
1053        Shuttl   2015.0       Delhi           Transport
1054         Pando   2017.0     Chennai            Logitech

                                           What_it_does  \
0                          Cultivating Ideas for Profit
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders  \
0                       Prasanna Manogaran, Bharani C L
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage
0                           Angel investors    200000.0        None
1                           GSF Accelerator    100000.0    Pre-seed
2                            Venture Center         NaN    Pre-seed
3       Venture Catalysts, PointOne Capital    400000.0        None
4       Siana Capital Management, Info Edge    340000.0        None
...                                     ...         ...         ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0        None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round
1052                             Verlinvest   8000000.0        None
1053             SIG Global India Fund LLP.   8043000.0    Series C
1054                      Chiratae Ventures   9000000.0    Series A

[1055 rows x 9 columns]>

In [87]:
# Fill missing values 

data.fillna(0, inplace=True)

In [88]:
#Check if there are any missing values 

#data.isnull().sum()

In [89]:
#Data2 which is our second tabel 
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
 
data2 = pd.read_sql(query, connection)

In [90]:
data2.head ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [91]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [92]:
data2.shape

(1209, 9)

In [93]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [94]:
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [95]:
#Load the one drive file which is the 2019 startups data

df=pd.read_excel ('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\startup_funding2019.xlsx')

In [96]:
df.head ()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN

In [97]:
df.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000,Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000,NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000,Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000,NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000,NaN

In [98]:
df.shape

(89, 9)

In [99]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [101]:
print(df.columns)

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [102]:
df['Amount($)']

0       6300000
1     150000000
2      28000000
3      30000000
4       6000000
        ...
84     20000000
85    693000000
86      5000000
87     50000000
88     33000000
Name: Amount($), Length: 89, dtype: object

In [103]:
#Convert the Amount column to numeric values 

# Convert to numeric, coercing errors to NaN
df['Amount($)'] = pd.to_numeric(df['Amount($)'], errors='coerce')

# Display the DataFrame to see the changes
df['Amount($)']

0       6300000.0
1     150000000.0
2      28000000.0
3      30000000.0
4       6000000.0
         ...
84     20000000.0
85    693000000.0
86      5000000.0
87     50000000.0
88     33000000.0
Name: Amount($), Length: 89, dtype: float64

## Data Preparation

 In this phase we clean the data, construct eg are there new columns needed , we can combine data from different sources , format the data ie can convert stings to integers