In [27]:
%pip install pyodbc #install our connector which allows us to connect with our databases
%pip install python-dotenv

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#install'

Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [28]:
#importing all the necessary packages 

import pyodbc 
from dotenv import dotenv_values 
import pandas as pd 
import warnings

warnings.filterwarnings ('ignore')

server='dap-projects-database.database.windows.net'
username='LP1-learner'
password='Hyp0th3s!$T3$t!ng'
database='dapDB'

In [29]:
##import os
##from dotenv import load_dotenv

# Specify the path to your .env file
##env_path = 'C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\LP1\\LP1--Indian-Startup-Ecosystem-\\Notebooks\\.env'

# Load the .env file
##load_dotenv(dotenv_path=env_path)
 
# Get the values for the credentials set in '.env' file
##server = os.getenv('server') 
##database = os.getenv('database')
##username = os.getenv('username')
##password = os.getenv('password')

#Create a connection to our SQL server 
##connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database}; UID={username};PWD={password}'

In [30]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\Notebooks\\.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get('server')
database = environment_variables.get('database')
username = environment_variables.get('username')
password = environment_variables.get('password')

In [31]:
#Use the connect method of pyodbc library 
#connection = pyodbc.connect(connection_string)

##try:
  ##  connection = pyodbc.connect(connection_string)
   ## print("Connection successful")
##except pyodbc.Error as ex:
   ## sqlstate = ex.args[1]
    ##print(f"Connection failed: {sqlstate}")

In [32]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

# Debug: Print out the connection string to ensure it's correctly formatted
print(f"Connection String: {connection_string}")

print(f"Server: {server}")
print(f"Database: {database}")
print(f"Username: {username}")
print(f"Password: {password}")

Connection String: DRIVER={SQL Server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;UID=LP1_learner;PWD=Hyp0th3s!$T3$t!ng;MARS_Connection=yes;MinProtocolVersion=TLSv1.2;
Server: dap-projects-database.database.windows.net
Database: dapDB
Username: LP1_learner
Password: Hyp0th3s!$T3$t!ng

In [33]:
connection = pyodbc.connect(connection_string)

In [34]:
# Query the tabeles as per the given instructions 
query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''

data =pd.read_sql(query, connection)

In [35]:
data.head ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [37]:
#Data2 as per the given instructions
data2 = '''SELECT * 
FROM dbo.LP1_startup_funding2021'''

data2.head ()

AttributeError: 'str' object has no attribute 'head'