# CA-7 LP1

# Bussiness Understanding

Our team is intending to venture into the Indian Ecosyatem and as data analyst we are to investigate the ecosystem and propose best course of action.

We will be using the CRISP-DM Methodology. We are to understand the objectives and requirements of the project, determine data mining goals, define business success criteria. Detailed plan for each project phase 


### Project Title : Viability of Setting up a Startup Business in India 

 * Hypothesis testing:

 Null Hypothesis (H0) There is no significant difference in the amount of funding recieved by startups across different sectors and stages 

 Alternative Hypothesis (H1) There is a significant difference in the amount of funding recieved by different sectors and stages 
 

* Project Description - 
Our team is aiming at setting up startup in India. Using the provided information we are accessing the viability of setting up our busiess there .



ANALYTICAL QUESTIONS
1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?
How has the average funding amount in each sector changed over the years (2018 - 2021)
 
2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?
 
3. Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?
 
4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?
 
5. Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?
 
6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?
 
7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?
 
8. Which Business is more viable to set - The best performing business(s) ?

# Data Understanding

 We have been provided with various datasets located at 3 different locations ie Database, OneDrive and GitHub Repository. In them we will find the start-ups details, the funding amounts recieved and the investors information from 2018-2021.
 To provide a smooth flow of project, in this phase we will be loading the data and cleaning the data. In the next phase, data preparation phase, we will then concatenate the data.

In [1]:
#Install necessary libraries 

%pip install pyodbc #install our connector which allows us to connect with our databases
%pip install python-dotenv
%pip install openpyxl

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#install'

Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import the necessary packages 

import pyodbc 
from dotenv import dotenv_values 
import numpy as np
import pandas as pd 
import plotly.express as px
import plotly.graph_objs as go
import pandas as pd 
import warnings

warnings.filterwarnings ('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\Notebooks\\.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get('server')
database = environment_variables.get('database')
username = environment_variables.get('username')
password = environment_variables.get('password')

In [4]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [5]:
connection = pyodbc.connect(connection_string)

1st Dataset-2020 (Data)

* This dataset is loaded from SQL Database

In [6]:
# Query the tabeles as per the given instructions (1st Dataset)

query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''

data =pd.read_sql(query, connection)

In [7]:
data.head (10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None

In [8]:
data.tail(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1045,XpressBees,2015.0,None,Logistics,Provides end to end supply chain solutions,"Supam Maheshwari, Amitava Saha",Alibaba,10000000.0,None,None
1046,FarmERP,2001.0,Pune,Agritech,Smart agriculture management ERP software plat...,"Santosh Shinde, Sanjay Borkar",TechnoGen,NaN,Series A,None
1047,Wealth Bucket,2018.0,None,Fintech,An online platform for mutual fund investments,"Himanshu Jain, Pulkit Jain","NorthStar, Vinod Khatumal",3000000.0,None,None
1048,GoMechanic,2016.0,Delhi,Automobile Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...","Chiratae Ventures, Sequoia Capital, Orios Vent...",14700000.0,Series B,None
1049,Fashor,2017.0,Chennai,Fashion,Women’s fashion and apparel,"Vikram Kankaria, Priyanka Kankaria",Sprout venture partners,1000000.0,Pre Series A,None
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [10]:
data.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [11]:
data.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [12]:
data.shape

(1055, 10)

In [13]:
data.duplicated().sum()

3

In [14]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [15]:
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [16]:
print (data.columns )

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

Data cleaning 1st Dataset-2020 (Data)

In [17]:
# Fill missing values 

# For columns with a few missing values, fill with 'Unknown'
data['HeadQuarter'].fillna('Unknown', inplace=True)
data['Sector'].fillna('Unknown', inplace=True)
data['Founders'].fillna('Unknown', inplace=True)
data['Investor'].fillna('Unknown', inplace=True)
 
# For 'Founded', fill missing values with 0
data['Founded'].fillna(data ['Founded']==0, inplace=True)
 
# For 'Amount', fill missing values with the median funding amount
data['Amount'].fillna(data['Amount'].median(), inplace=True)
 
# For 'Stage', fill missing values with a placeholder
data['Stage'].fillna('Unknown', inplace=True)

In [18]:
#Check to confirm there are no missing values 

data.isnull().sum()

Company_Brand       0
Founded             0
HeadQuarter         0
Sector              0
What_it_does        0
Founders            0
Investor            0
Amount              0
Stage               0
column10         1053
dtype: int64

In [19]:
# Convert 'Founded'  to integer datatype 

data['Founded'] = data ['Founded'].astype(int)

In [20]:
# Convert the stage column from object to category 

data['Stage'] = data['Stage'].astype('category')

In [21]:
#Drop the Column10 column it has more than 98% NULL values and also in the 2021,2019,2018 data this column is not available meaning its impact is minimal
data.drop('column10', axis=1, inplace=True)

In [22]:
# Drop duplicates

data.drop_duplicates( inplace=True)

In [23]:
# Add Colum 'Year'=2020 to our first dataset 'data'

data['Year']=2020

In [24]:
# Check how our 1st dataset (2020) looks like ---looks good to go
data.info ()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1052 non-null   object
 1   Founded        1052 non-null   int32
 2   HeadQuarter    1052 non-null   object
 3   Sector         1052 non-null   object
 4   What_it_does   1052 non-null   object
 5   Founders       1052 non-null   object
 6   Investor       1052 non-null   object
 7   Amount         1052 non-null   float64
 8   Stage          1052 non-null   category
 9   Year           1052 non-null   int64
dtypes: category(1), float64(1), int32(1), int64(1), object(6)
memory usage: 80.5+ KB

2nd Dataset-2021 (data2)

* This dataset is loaded from SQL Database

In [25]:
#Loading the second dataset which is our tabel 2 (Data2)
query ='''SELECT * FROM dbo.LP1_startup_funding2021'''
 
data2 = pd.read_sql(query, connection)

In [26]:
data2.head ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [27]:
data2.tail (10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1199,Proeon,2018.0,Pune,Food Production,Innovating plant protein ingredients with supe...,"Ashish Korde, Kevin Parekh","Shaival Desai, Flowstate Ventures",$2000000,Seed
1200,InfyU Labs,2019.0,Gandhinagar,AgriTech,InfyU Labs is a team of dedicated professional...,"Amit Srivastava, Ankit Chauhan",IAN,$200000,Seed
1201,TechEagle,2015.0,Gurugram,Aviation & Aerospace,"Safe, secure & reliable On-Demand Drone delive...",Vikram Singh Meena,India Accelerator,$500000,Seed
1202,Voxelgrids,2017.0,Bangalore,Deeptech,Voxelgrids is an Magnetic Resonance Imaging te...,Arjun Arunachalam,Zoho,$5000000,None
1203,Cogos Technologies,2016.0,Bangalore,Logistics & Supply Chain,A smart-tech-enabled platform offering a one-s...,Prasad Sreeram,Transworld Group,$2000000,Pre-series A
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [28]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [29]:
data2.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [30]:
data2.shape

(1209, 9)

In [31]:
data2.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  1208.0  2016.655629  4.517364  1963.0  2015.0  2018.0  2020.0  2021.0

In [32]:
data2.isnull().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [33]:
data2.duplicated().sum()

19

Data Cleaning 2nd Dataset (data2)

In [34]:
# Fill missing values in our second data

# For columns with a few missing values, fill with 'Unknown'
data2['HeadQuarter'].fillna('Unknown', inplace=True)
data2['Founders'].fillna('Unknown', inplace=True)
data2['Investor'].fillna('Unknown', inplace=True)
 
# For 'Founded', fill missing values with 0
data2['Founded'].fillna(data2 ['Founded']==0, inplace=True)

# For 'Stage', fill missing values with a placeholder
data2['Stage'].fillna('Unknown', inplace=True)

In [35]:
#Check to confirm there are no missing values     

data2.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           3
Stage            0
dtype: int64

In [36]:
# Convert 'Founded'  to integer datatype 

data2['Founded'] = data2 ['Founded'].astype(int)

In [37]:
data2['Amount'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [38]:
# Step 1: Convert all values in the 'Amount' column to strings
data2['Amount'] = data2['Amount'].astype(str)
 
# Step 2: Remove any non-numeric characters such as '$' and ','
data2['Amount'] = data2['Amount'].str.replace('[\$,]', '', regex=True)
 
# Step 3: Replace 'undisclosed' with NaN
data2['Amount'].replace('undisclosed', np.nan, inplace=True)
 
# Step 4: Convert the column to numeric (float), ignoring errors
data2['Amount'] = pd.to_numeric(data2['Amount'], errors='coerce')
 
# Step 5: Fill NaN values with 0
data2['Amount'].fillna(0, inplace=True)

print(data2['Amount'].dtype)

float64

In [39]:
# Convert the stage column from object to category 

data2['Stage'] = data2['Stage'].astype('category')

In [40]:
# Drop duplicates for data2- they were 19 duplicates will this affect the results of our data

data2.drop_duplicates( inplace=True)

In [41]:
#Check to see if the are duplicated values after filling with the mode values 

data2.duplicated().sum()

0

In [42]:
#Add 'Year' Column 2021
data2['Year']=2021

In [43]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   Founded        1190 non-null   int32
 2   HeadQuarter    1190 non-null   object
 3   Sector         1190 non-null   object
 4   What_it_does   1190 non-null   object
 5   Founders       1190 non-null   object
 6   Investor       1190 non-null   object
 7   Amount         1190 non-null   float64
 8   Stage          1190 non-null   category
 9   Year           1190 non-null   int64
dtypes: category(1), float64(1), int32(1), int64(1), object(6)
memory usage: 90.8+ KB

3rd Dataset 2019 (data3)

* This Dataset is downloaded from a onedrive

In [44]:
#Load the one drive file which is the 2019 startups data (3rd Dataset)

data3=pd.read_excel ('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\startup_funding2019.xlsx')

In [45]:
data3.head ()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN

In [46]:
data3.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000,Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000,NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000,Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000,NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000,NaN

In [47]:
data3.shape

(89, 9)

In [48]:
data3.describe().T

         count         mean       std     min     25%     50%      75%     max
Founded   60.0  2014.533333  2.937003  2004.0  2013.0  2015.0  2016.25  2019.0

In [49]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [50]:
print(data3.columns)

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [51]:
data3.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [52]:
data3.duplicated().sum()

0

Data cleaning 3rd Dataset 2019- (df)

In [53]:
# Step 1: Convert the column to string type
data3['Amount($)'] = data3['Amount($)'].astype(str)
 
# Step 2: Remove any non-numeric characters, such as '$' and ','
data3['Amount($)'] = data3['Amount($)'].str.replace('[\$,]', '', regex=True)
 
# Step 3: Replace 'undisclosed' with NaN
data3['Amount($)'].replace('undisclosed', np.nan, inplace=True)
 
# Step 4: Convert the column to numeric (float), ignoring errors
data3['Amount($)'] = pd.to_numeric(data3['Amount($)'], errors='coerce')
 
# Step 5: Fill missing values with 0
data3['Amount($)'].fillna(0, inplace=True)
 
# Confirm the datatype conversion
print(data3.dtypes)

Company/Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)        float64
Stage             object
dtype: object

In [54]:
# Fill missing values in our Table 3 (df)

# For columns with a few missing values, fill with 'Unknown'
data3['HeadQuarter'].fillna('Unknown', inplace=True)
data3['Founders'].fillna('Unknown', inplace=True)
data3['Sector'].fillna('Unknown', inplace=True)

data3['Stage'].fillna( data3['Stage']==0 , inplace = True)

In [55]:
# For 'Founded', fill missing values with 0
data3['Founded'].fillna(data3 ['Founded']==0, inplace=True)

In [56]:
# Convert 'Founded'  to integer datatype for consistency

data['Founded'] = data3 ['Founded'].astype(int)

In [57]:
# Check to confirm there are no missing values
data3.isnull().sum()

Company/Brand    0
Founded          0
HeadQuarter      0
Sector           0
What it does     0
Founders         0
Investor         0
Amount($)        0
Stage            0
dtype: int64

In [58]:

data3['Stage'] = data3['Stage'].astype('category')

In [59]:
data3['Year']=2019

In [60]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        89 non-null     object
 2   HeadQuarter    89 non-null     object
 3   Sector         89 non-null     object
 4   What it does   89 non-null     object
 5   Founders       89 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     float64
 8   Stage          89 non-null     category
 9   Year           89 non-null     int64
dtypes: category(1), float64(1), int64(1), object(7)
memory usage: 7.1+ KB

4th Dataset 2018 (data4)

* This dataset is from a GitHub repository. We had to clone from GitHub then copy csv file to our notebook

In [61]:
# Load data from GitHub repository 

data4=pd.read_csv('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\CA-LP1-Indian-Startup-Ecosystem-1')

In [62]:
data4.head ()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [63]:
data4.shape

(526, 6)

In [64]:
data4.describe().T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

In [65]:
data4.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [66]:
data4.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [67]:
data4.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [68]:
data4.duplicated().sum()

1

Data Cleaning our 4th Dataset (data4)

In [69]:
#  Step 1: Convert all values in the 'Amount' column to strings
data4['Amount'] = data4['Amount'].astype(str)
 
# Step 2: Remove any non-numeric characters such as '$' and ','
data4['Amount'] = data4['Amount'].str.replace('[\$,]', '', regex=True)
data4['Amount']= data4['Amount'].str.replace('[\₹]', '' , regex=True )
 
# Step 3: Replace 'undisclosed' with NaN
data4['Amount'].replace('undisclosed', np.nan, inplace=True)
 
# Step 4: Convert the column to numeric (float), ignoring errors
data4['Amount'] = pd.to_numeric(data2['Amount'], errors='coerce')
 
# Step 5: Fill NaN values with 0
data4['Amount'].fillna(0, inplace=True)

print(data4['Amount'].dtype)

float64

In [70]:
# Convert 'Round/Series' to a Category

data4['Round/Series'] = data4['Round/Series'].astype('category')

In [71]:
# Drop duplicates

data4.drop_duplicates( inplace=True)

In [72]:
# Check for duplicates 

data4.duplicated().sum()

0

In [73]:
data4['Year']=2018

In [74]:
data4.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    category
 3   Amount         526 non-null    float64
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
 6   Year           526 non-null    int64
dtypes: category(1), float64(1), int64(1), object(4)
memory usage: 26.0+ KB

## Data Preparation

Cleaning of our data was done after each of the datasets. In this phase we concatenate our data

In [75]:
# Create standadized column names of data, data2, df and df2 

# Step1 how our columns appear in each of the datasets

data = pd.DataFrame(columns=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'])
data2 = pd.DataFrame(columns=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'])
data3= pd.DataFrame(columns=['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage'])
data4 = pd.DataFrame(columns=['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location', 'About Company'])

In [76]:
# Convert 'Amount' columns to float and handle currency conversion
# Define exchange rate
exchange_rate_inr_to_usd = 83  

# Function to clean and convert the 'Amount' column
def clean_and_convert_amount(df, currency='USD'):
    if 'Amount' in df.columns:
        df['Amount'] = df['Amount'].replace({'\$': '', ',': '', '₹': ''}, regex=True)
        if currency == 'INR':
            df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce') / exchange_rate_inr_to_usd
        else:
            df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')
    else:
        print("Warning: 'Amount' column not found in the dataframe")
    return df

# Clean and convert amounts
data = clean_and_convert_amount(data, 'USD')
data2 = clean_and_convert_amount(data2, 'USD')
data3 = clean_and_convert_amount(data4, 'INR')  # Assuming df3 amounts are in INR
data4 = clean_and_convert_amount(data3, 'USD')

In [77]:
# Step 2 Column maping

# The standardized name column should be :

'company_brand','founded','headquarter','sector','what_it_does','founders','investor','amount','stage'

#  Column mapping for `data` and `data2`
mapping_data = {
    'Company_Brand': 'company_brand',
    'Founded': 'founded',
    'HeadQuarter': 'headquarter',
    'Sector': 'sector',
    'What_it_does': 'what_it_does',
    'Founders': 'founders',
    'Investor': 'investor',
    'Amount': 'amount',
    'Stage': 'stage'
}

# Column mapping for `df`
mapping_df = {
    'Company/Brand': 'company_brand',
    'Founded': 'founded',
    'HeadQuarter': 'headquarter',
    'Sector': 'sector',
    'What it does': 'what_it_does',
    'Founders': 'founders',
    'Investor': 'investor',
    'Amount($)': 'amount',
    'Stage': 'stage'
}

# Column mapping for `df2`
mapping_df2 = {
    'Company Name': 'company_brand',
    'Industry': 'sector',
    'Round/Series': 'stage',
    'Amount': 'amount',
    'Location': 'headquarter',
    'About Company': 'what_it_does'
}

In [78]:
#Step 3 Rename Columns 

# Rename columns
data = data.rename(columns=mapping_data)
data2 = data2.rename(columns=mapping_data)
data3= data3.rename(columns=mapping_df)
data4 = data4.rename(columns=mapping_df2)

In [79]:
# Step 4 Ensure consistency 

# Ensure consistency by selecting only the standardized columns
standardized_columns = ['company_brand', 'founded', 'headquarter', 'sector', 'what_it_does', 'founders', 'investor', 'amount', 'stage']

# Reindex datasets to have only standardized columns and fill missing columns with NaN
data = data.reindex(columns=standardized_columns)
data2 = data2.reindex(columns=standardized_columns)
data3 = data3.reindex(columns=standardized_columns)
data4= data4.reindex(columns=standardized_columns)

Merge all the 4 datasets

In [80]:
# Combine DataFrames
df_combined = pd.concat([data, data2, data3, data4], ignore_index=True)

# Handle missing values (example: fill with 'Unknown' or drop)
df_combined.fillna('Unknown', inplace=True)

# Verify the combined DataFrame
print(df_combined.info())
print(df_combined.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_brand  0 non-null      object
 1   founded        0 non-null      object
 2   headquarter    0 non-null      object
 3   sector         0 non-null      object
 4   what_it_does   0 non-null      object
 5   founders       0 non-null      object
 6   investor       0 non-null      object
 7   amount         0 non-null      float64
 8   stage          0 non-null      object
dtypes: float64(1), object(8)
memory usage: 124.0+ bytes
None
Empty DataFrame
Columns: [company_brand, founded, headquarter, sector, what_it_does, founders, investor, amount, stage]
Index: []