# CA-7 LP1

# Bussiness Understanding

Our team is intending to venture into the Indian Ecosyatem and as data analyst we are to investigate the ecosystem and propose best course of action.

We will be using the CRISP-DM Methodology. We are to understand the objectives and requirements of the project, determine data mining goals, define business success criteria. Detailed plan for each project phase 


### Project Title : Viability of Setting up a Startup Business in India 

 * Hypothesis testing:

 Null Hypothesis (H0) There is no significant difference in the amount of funding recieved by startups across different sectors and stages 

 Alternative Hypothesis (H1) There is a significant difference in the amount of funding recieved by different sectors and stages 
 

* Project Description - 
Our team is aiming at setting up startup in India. Using the provided information we are accessing the viability of setting up our busiess there .



ANALYTICAL QUESTIONS
1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?
How has the average funding amount in each sector changed over the years (2018 - 2021)
 
2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?
 
3. Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?
 
4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?
 
5. Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?
 
6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?
 
7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?
 
8. Which Business is more viable to set - The best performing business(s) ?

# Data Understanding

 We have been provided with various datasets located at 3 different locations ie Database, OneDrive and GitHub Repository. In them we will find the start-ups details, the funding amounts recieved and the investors information from 2018-2021.
 To provide a smooth flow of project, in this phase we will be loading the data and cleaning the data. In the next phase, data preparation phase, we will then concatenate the data.

In [19]:
#Install necessary libraries 

%pip install pyodbc #install our connector which allows us to connect with our databases
%pip install python-dotenv
%pip install openpyxl

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#install'

Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
#import the necessary packages 

import pyodbc 
from dotenv import dotenv_values 
import pandas as pd 
import warnings

warnings.filterwarnings ('ignore')

In [21]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\Notebooks\\.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get('server')
database = environment_variables.get('database')
username = environment_variables.get('username')
password = environment_variables.get('password')

In [22]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [23]:
connection = pyodbc.connect(connection_string)

1st Dataset-2020 (Data)

* This dataset is loaded from SQL Database

In [24]:
# Query the tabeles as per the given instructions (1st Dataset)

query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''

data =pd.read_sql(query, connection)

In [25]:
data.head ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [72]:
data.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [27]:
data.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [28]:
data.shape

(1055, 10)

In [29]:
data.duplicated().sum()

3

In [30]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [31]:
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [32]:
print (data.columns )

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

Data cleaning 1st Dataset-2020 (Data)

In [34]:
#Drop the Column10 column it has too many NULL values and also in the 2021 data this column is not available  meaning its impact is minimal data.drop('column10' , axis=1, inplace=True)

data.drop('column10', axis=1, inplace=True)

# Check to see remaining columns

print (data.columns)

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [35]:
# Fill missing values 

data.fillna(0, inplace=True)

In [36]:
#Check to confirm there are no missing values 

data.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [37]:
# Drop the duplicated values 
data.drop_duplicates(inplace=True)

2nd Dataset-2021 (data2)

* This dataset is loaded from SQL Database

In [38]:
#Loading the second dataset which is our tabel 2 (Data2)
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
 
data2 = pd.read_sql(query, connection)

In [39]:
data2.head ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [40]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [73]:
data2.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [41]:
data2.shape

(1209, 9)

In [42]:
data2.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  1208.0  2016.655629  4.517364  1963.0  2015.0  2018.0  2020.0  2021.0

In [43]:
data2.isnull().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [44]:
data2.duplicated().sum()

19

Data Cleaning 2nd Dataset (data2)

In [45]:
# Identify duplicates (excluding the first occurrence)
duplicates = data2.duplicated(keep='first')

# Compute the mode of each column
mode_values = data2.mode().iloc[0]

# Ensure that the mode values match the column names
mode_dict = mode_values.to_dict()

# Fill duplicates with the mode values
data2.loc[duplicates, :] = data2.loc[duplicates, :].apply(lambda row: pd.Series(mode_dict), axis=1)

In [46]:
#Check to see if the are duplicated values after filling with the mode values 

data2.duplicated().sum()

18

In [49]:
#Drop the duplicates
data2 = data2.drop_duplicates()

In [50]:
#Check to see if there are still remaining duplicates 

data2.duplicated().sum()

0

In [47]:
# Fill missing values in our second data
data2.fillna(0, inplace=True)

In [48]:
#Check to confirm there are no missing values     

data2.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [51]:
# Converting 'Amount' Column from string to numeric

data2['Amount'] = pd.to_numeric(data2['Amount'], errors='coerce')

# Check to confirm 'Amount Column is float
data2['Amount'] = data2['Amount'].astype(float)

print(data2['Amount'].dtype)

float64

3rd Dataset 2019 (df)

* This Dataset is downloaded from a onedrive

In [52]:
#Load the one drive file which is the 2019 startups data (3rd Dataset)

df=pd.read_excel ('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\startup_funding2019.xlsx')

In [53]:
df.head ()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN

In [54]:
df.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000,Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000,NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000,Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000,NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000,NaN

In [55]:
df.shape

(89, 9)

In [56]:
df.describe().T

         count         mean       std     min     25%     50%      75%     max
Founded   60.0  2014.533333  2.937003  2004.0  2013.0  2015.0  2016.25  2019.0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [58]:
print(df.columns)

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [59]:
df.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [60]:
df.duplicated().sum()

0

Data cleaning 3rd Dataset 2019- (df)

In [61]:
#Convert the Amount column to numeric values 

# Convert to numeric, coercing errors to NaN
df['Amount($)'] = pd.to_numeric(df['Amount($)'], errors='coerce')

# Check to confirm 'Amount Column is float
df['Amount'] = data2['Amount'].astype(float)

print(df['Amount'].dtype)

float64

In [62]:
# Fill missing values in our Table 3 (df)
df.fillna(0, inplace=True)

In [63]:
# Check to confirm there are no missing values
df.isnull().sum()

Company/Brand    0
Founded          0
HeadQuarter      0
Sector           0
What it does     0
Founders         0
Investor         0
Amount($)        0
Stage            0
Amount           0
dtype: int64

4th Dataset 2018 (df2)

* This dataset is from a GitHub repository. We had to clone from GitHub then copy csv file to our notebook

In [64]:
# Load data from GitHub repository 

df2=pd.read_csv('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\CA-LP1-Indian-Startup-Ecosystem-1')

In [65]:
df2.head ()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [66]:
df2.shape

(526, 6)

In [67]:
df2.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [68]:
df2.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [69]:
df2.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [70]:
df2.duplicated ()

0      False
1      False
2      False
3      False
4      False
       ...
521    False
522    False
523    False
524    False
525    False
Length: 526, dtype: bool

Data Cleaning our 4th Dataset (df2)

In [71]:
#Converting our Amounts table from string to Float datatype 

df2['Amount'] =pd.to_numeric(df2['Amount'], errors='coerce')

# Check to confirm 'Amount Column is float
df2['Amount'] = data2['Amount'].astype(float)

print(df2['Amount'].dtype)

float64

## Data Preparation

Cleaning of our data was done after each of the datasets. In this phase we concatenate our data

In [76]:
# Create standadized column names of data, data2, df and df2 

# Step1 how our columns appear in each of the datasets

data = pd.DataFrame(columns=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'])
data2 = pd.DataFrame(columns=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'])
df = pd.DataFrame(columns=['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage'])
df2 = pd.DataFrame(columns=['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location', 'About Company'])

In [77]:
# Step 2 Column maping

# The standardized name column should be :

'company_brand','founded','headquarter','sector','what_it_does','founders','investor','amount','stage'

# Column mapping for `data` and `data2`
mapping_data = {
    'Company_Brand': 'company_brand',
    'Founded': 'founded',
    'HeadQuarter': 'headquarter',
    'Sector': 'sector',
    'What_it_does': 'what_it_does',
    'Founders': 'founders',
    'Investor': 'investor',
    'Amount': 'amount',
    'Stage': 'stage'
}

# Column mapping for `df`
mapping_df = {
    'Company/Brand': 'company_brand',
    'Founded': 'founded',
    'HeadQuarter': 'headquarter',
    'Sector': 'sector',
    'What it does': 'what_it_does',
    'Founders': 'founders',
    'Investor': 'investor',
    'Amount($)': 'amount',
    'Stage': 'stage'
}

# Column mapping for `df2`
mapping_df2 = {
    'Company Name': 'company_brand',
    'Industry': 'sector',
    'Round/Series': 'stage',
    'Amount': 'amount',
    'Location': 'headquarter',
    'About Company': 'what_it_does'
}

In [78]:
#Step 3 Rename Columns 

# Rename columns
data = data.rename(columns=mapping_data)
data2 = data2.rename(columns=mapping_data)
df = df.rename(columns=mapping_df)
df2 = df2.rename(columns=mapping_df2)

In [81]:
# Step 4 Ensure consistency 

# Ensure consistency by selecting only the standardized columns
standardized_columns = ['company_brand', 'founded', 'headquarter', 'sector', 'what_it_does', 'founders', 'investor', 'amount', 'stage']

# Reindex datasets to have only standardized columns and fill missing columns with NaN
data = data.reindex(columns=standardized_columns)
data2 = data2.reindex(columns=standardized_columns)
df = df.reindex(columns=standardized_columns)
df2 = df2.reindex(columns=standardized_columns)

print(data.columns)
print(data2.columns)
print(df.columns)
print(df2.columns)

Index(['company_brand', 'founded', 'headquarter', 'sector', 'what_it_does',
       'founders', 'investor', 'amount', 'stage'],
      dtype='object')
Index(['company_brand', 'founded', 'headquarter', 'sector', 'what_it_does',
       'founders', 'investor', 'amount', 'stage'],
      dtype='object')
Index(['company_brand', 'founded', 'headquarter', 'sector', 'what_it_does',
       'founders', 'investor', 'amount', 'stage'],
      dtype='object')
Index(['company_brand', 'founded', 'headquarter', 'sector', 'what_it_does',
       'founders', 'investor', 'amount', 'stage'],
      dtype='object')

In [ ]:
# Step 5