# CA-7 LP1

# Bussiness Understanding

Our team is intending to venture into the Indian Ecosyatem and as data analyst we are to investigate the ecosystem and propose best course of action.

We will be using the CRISP-DM Methodology. We are to understand the objectives and requirements of the project, determine data mining goals, define business success criteria. Detailed plan for each project phase 


### Project Title : Viability of Setting up a Startup Business in India 

 * Hypothesis testing:

 Null Hypothesis (H0) There is no significant difference in the amount of funding recieved by startups across different sectors and stages 

 Alternative Hypothesis (H1) There is a significant difference in the amount of funding recieved by different sectors and stages 
 

* Project Description - 
Our team is aiming at setting up startup in India. Using the provided information we are accessing the viability of setting up our busiess there .



ANALYTICAL QUESTIONS
1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?
How has the average funding amount in each sector changed over the years (2018 - 2021)
 
2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?
 
3. Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?
 
4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?
 
5. Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?
 
6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?
 
7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?
 
8. Which Business is more viable to set - The best performing business(s) ?

# Data Understanding

 We have been provided with various datasets located at 3 different locations ie Database, OneDrive and GitHub Repository. In them we will find the start-ups details, the funding amounts recieved and the investors information from 2018-2021.
 To provide a smooth flow of project, in this phase we will be loading the data and cleaning the data. In the next phase, data preparation phase, we will then concatenate the data.

In [156]:
#Install necessary libraries 

%pip install pyodbc #install our connector which allows us to connect with our databases
%pip install python-dotenv
%pip install openpyxl
%pip install fuzzywuzzy

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#install'

Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: fuzzywuzzy in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [157]:
#import the necessary packages 

import pyodbc 
from dotenv import dotenv_values 
import numpy as np
import pandas as pd 
import plotly.express as px
import plotly.graph_objs as go
import pandas as pd 
import warnings

warnings.filterwarnings ('ignore')

In [158]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\Notebooks\\.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get('server')
database = environment_variables.get('database')
username = environment_variables.get('username')
password = environment_variables.get('password')

In [159]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [160]:
connection = pyodbc.connect(connection_string)

1st Dataset-2020 (Data)

* This dataset is loaded from SQL Database

In [161]:
# Query the tabeles as per the given instructions (1st Dataset)

query = '''SELECT *
FROM dbo.LP1_startup_funding2020'''

data =pd.read_sql(query, connection)

In [162]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [163]:
data.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [164]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [165]:
# Missing values with their percentages 
data.isnull().sum().to_frame('Null Count').assign(Percentage=lambda x: (x['Null Count'] / len(data)) * 100)

               Null Count  Percentage
Company_Brand           0    0.000000
Founded               213   20.189573
HeadQuarter            94    8.909953
Sector                 13    1.232227
What_it_does            0    0.000000
Founders               12    1.137441
Investor               38    3.601896
Amount                254   24.075829
Stage                 464   43.981043
column10             1053   99.810427

In [166]:
data.shape

(1055, 10)

In [167]:
data.duplicated().sum()

3

In [168]:
data['Founded'].unique()

array([2019., 2018., 2020., 2016., 2008., 2015., 2017., 2014., 1998.,
       2007., 2011., 1982., 2013., 2009., 2012., 1995., 2010., 2006.,
       1978.,   nan, 1999., 1994., 2005., 1973., 2002., 2004., 2001.])

In [169]:
data['HeadQuarter'].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli, Tamilnadu', 'Thane', None,
       'Singapore', 'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'Patna', 'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Cochin', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Chandigarh', 'Warangal',
       'Hyderebad', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'Uttar Pradesh', 'Bhopal', 'Banglore', 'Coimbatore', 'Bengaluru'],
      dtype=object)

In [170]:
HeadQuarter_counts = data['HeadQuarter'].value_counts()

HeadQuarter_counts.head()

HeadQuarter
Bangalore    317
Mumbai       165
Gurugram      79
Delhi         62
Chennai       43
Name: count, dtype: int64

In [171]:
Founders_counts = data['Founders'].value_counts()

Founders_counts.head()

Founders
Falguni Nayar                                                6
Byju Raveendran                                              6
Mukesh Ambani                                                4
Saurabh Saxena, Pulkit Jain, Anand Prakash, Vamsi Krishna    4
Sreevathsa Prabhakar                                         4
Name: count, dtype: int64

In [172]:
Investor_counts = data['Investor'].value_counts()

Investor_counts.head()

Investor
Venture Catalysts            20
Angel investors              12
Mumbai Angels Network        12
Inflection Point Ventures    11
Undisclosed                  10
Name: count, dtype: int64

In [173]:
data['Sector'].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       None, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology'], dtype=object)

 Sector column has lots of spelling errors and simmilar sector values placed differently eg  AI/ AI Company,  AI Platform/ AI platform, AI Startup/AI startup ,  Agri tech/AgriTech/ Agritech. We will convert all values to lower case for easier merging then map like values in a standard sictionary then convert them back to upper case

In [174]:
Sector_counts = data['Sector'].value_counts()

Sector_counts.head(10)

Sector
Fintech       80
Edtech        67
FinTech       51
EdTech        40
E-commerce    33
Healthtech    28
SaaS          24
Ecommerce     22
AgriTech      19
Agritech      19
Name: count, dtype: int64

In [175]:
# Get the value counts in Sector column sorted alphabetically
Sector_counts = data['Sector'].value_counts().sort_index()

Sector_counts[100:200]

Sector
EV                     1
EV startup             3
Ecommerce             22
EdTech                40
EdTech Startup         4
                      ..
Marketing startup      1
Marketplace            5
Med Tech               1
Media                 19
Media & Networking     1
Name: count, Length: 100, dtype: int64

In [176]:
data['Founders'].unique()

array(['Prasanna Manogaran, Bharani C L',
       'Saurabh Dixit, Gurudutt Upadhyay', 'Ajinkya Dhariya',
       'Ritesh Tiwari',
       'Ashish Rajan Singh, Harshit Gupta, Nishant Mahatre, Tauseef Khan',
       'Rubal Chib, Dr Srishti Batra', 'Ajay Sakhamuri',
       'Shawrya Mehrotra', 'Amar Prabhu, Ashwin Soni, Sumit Maniyar',
       'Aditya Shirole, Sahil Sharma', 'Meghana Narayan',
       'Arjun Kumar, Arun Kumar, Sidharth Gurjar', 'Gayatri Jolly',
       'Ankur Jain', 'Akil Sethuraman, Anup Gopinath, Rachna Rao',
       'Deepinder Goyal, Gaurav Gupta, Pankaj Chaddah',
       'Miran Junaidi, Saurabh Ghanekar, Sourav Sanyal',
       'Gautam Kapoor, Saahil Goel, Vishesh Khurana', 'Amrish Rau',
       'Prashant Agarwal', 'Parth Chadha, Rahul Singh',
       'Vikrant Varshney', 'Sujit Bangar',
       'Annanya Sarthak, Gurpreet Singh, Praveen Sah', 'Karanpal Singh',
       'Neeraj Khandelwal, Sumit Gupta', 'Naveen Tewari',
       'Virendra Gupta', 'Priyam Saraswat',
       'Kapil Bharati, Mohit Tandon, Sahil Barua, Suraj Saharan',
       'Chattanathan Devarajan, Prasanna Rao, Anand Chandra',
       'Ankit Kaushik, Gaurav Mangla, Rhitiman Majumder',
       'Burzin Engineer, Rahul Chari, Sameer Nigam', 'Nirmal Shah',
       'Chetan Indap, Sunny Sharma, Deepanti Kavi', 'Suhail Narain',
       'Ronak Sarda', 'Vinayak, Kshitij Abhishek, Apoorv Sadana',
       'Ankit Garg, Chaitanya Ramalingegowda', 'Dr Prashant Soma',
       'Tikam Jain', 'Sundeep Mohindru', 'Shivakumar Ganesan',
       'Adarsh Kumar, Rupesh Mishra', 'Mihir Jha', 'Shivanand N',
       'Anand Dalmia, Ramganesh Iyer, Subramanya S.V., Subramanya Venkat',
       'Anoop Gautam', 'Raunak Bhinge', 'Ajay Tiwari, Sainadh Duvvuru',
       'Mayank Kale, Ryan Singh',
       'Anurag Meena, Nikunj Malpani, Pratik Lodha',
       'Satya Chakravarthy, Pranjal Mehta',
       'Divyanshu Damani, Mohammad Hasan',
       'Charak Almast, Aastha Almast, Mani Dev Gyawali',
       'Bipin Singh, Upasana Taku', 'Sumit Sanjay Singare',
       'Monnappa Bayavanda, Prashant Reddy, Ravindra M.K, Ravindra M.K., Shesh Paplikar, Shesh Paplikar, Sridhar Venkataraman',
       'Deepak Garg, Gazal Kalra', 'KSHITIJ Puri, Shalabh Singhal',
       'Vivek Iyer', 'Manjunatha T N, Shilpa Gopalaiah', 'Layak Singh',
       'Puneet Singh Jaggi, Sanjay Bhasin, Ram Menon', 'Nandini Sankar',
       'Tanmai Paul, Varun Saxena',
       'Abhas Saroha, Oliver Jones, Oliver Jones', 'Shan Kadavil',
       'Shivam Varshney, Alok Chawla', 'Manoj Meena, Sibabrata Das',
       'Sankar Bora, Sourjyendu Medda, Vineet Rao',
       'Anugrah Shrivastava, Rohan Gupta, Vasanth Kamath', 'Manan Khurma',
       'Soham Thacker, Valay Patel, Varun Gajjar', 'Kalyan Sivasailam',
       'Harsh Rajat, Richa Joshi',
       'Biplab Chakraborty, Sandipan Chattopadhyay, Sandipan Mandal, Tapan Barman',
       'Palani Rajan', 'Karthik Jayaraman, Sanjay Dasari',
       'Aaditya Sharda, Souvik Sengupta', 'Sanjeev Bikhchandani',
       'Neha Kant, Pankaj Vermani', 'Satyam Baranwal, Vivek Prakash',
       'Kunal Shah', 'Brahmanad, Ramakrishna Nishtala',
       'Nitesh Agrawal, Om Prakash', 'Rohit Pande, Shikhar Sachan',
       'Prabhat Sahu', 'Ankit Ratan, Ankur Pandey, Arpit Ratan',
       'Amit Shrivastava, Sumeet Verma', 'Bhavik Rathod, Tripti Ahuja',
       'Vikas Chawla, Abhay Parnerkar, Satyajit Ram', 'Rahul Veerwal',
       'Sai Srinivas Kiran G, Shubham Malhotra', 'Sonu Sood',
       'NAVEED AHAMED, SYED SAQQA ABBAS', 'Darshan Shah, Soniya Kundnani',
       'Akash Sinha, Reeju Datta',
       'Anand Agrawal, Mayank Khera, Rishabh Goel',
       'Devashish Fuloria, Tusheet Shrivastava, Ankita Thakur',
       'Chakradhar Gade, Nitin Kaushal', 'Chirdeep Shetty',
       'Mehul Agrawal, Ruchit Agarwal, Vikram Chopra', None,
       'Divij Bajaj',
       'Advaith Vishwanath, Ankit Agrawal, Jerin Venad, Rushabh Shah, Sankalp Kelshikar, Subhash Sundaravadivelu',
       'Pushpak Dagade, Jimmit Patel and Suraj Bathija', 'Rajith Nair',
       'Amit, Rohit Sadhu, and Vikas Ranga',
       'Dhruv Agrawal, Himanshu Gupta, Soham Chokshi', 'Rushabh Mehta',
       'Rohin Y, PV Ramana', 'Nikhil Aggarwal, Vivek Gulati',
       'Gaurav Munjal, Hemesh Singh, Roman Saini, Sachin Gupta',
       'Arpit Mittal, Anshul Gupta', 'Abhishek Poddar, Saurabh Arora',
       'Shashank Vaishnav, Vinay Singhal, Parveen Singhal',
       'Falguni Nayar', 'Snehanshu Gandhi, Gaurav Shrishrimal',
       'Rohit Sen, Nupur Gupta', 'Aditya Sharma, Jayesh Hans',
       'Byju Raveendran, Divya Gokulnath', 'Anurag Saboo, Gaurav Pushkar',
       'Govind Balachandran, Zakir Wahab, Piyush Arora',
       'Gowtham Sundaresan, Azan Barodawala', 'Nikhil Bohra',
       'Sharmin Ali, Sutanshu Raj', 'Yogesh, Mitesh Gangar',
       'Aditya Sengupta, Akash Gehani, Harshad Sharma, Sampad Swain',
       'Anand Prabhudesai, Dhirendra Mahyavanshi, Kunal Shah',
       'Dhruv Madhok, Dhruv Bhasin', 'Cheolwon Lee, Jay Yi, Martin Lee',
       'Dhruv Dewan, Krishi Fagwani', 'Lakshay Jain', 'Nived Narayanan',
       'Sandeep Patel', 'Tanmaya Jain', 'Ashwin Lal',
       'Khushnud Khan, Rishi Raj Rathore',
       'Deepak Diwakar, Krishna Depura, Mohit Garg, Nishant Mungali',
       'Deepak Malhotra, Rajan Bajaj',
       'Kashif Mohammad, Aravind Maddireddy', 'Ashish Rawat',
       'Shrishti, Prithika', 'Ishpreet Gandhi', 'Ankur Bansal',
       'Kiran Mazumdar-Shaw',
       'Abhishek Doshi, Anupama Panchal, Shashwat Bhatt, Yash Shah',
       'Amitava Saha, Supam Maheshwari', 'Amit Kumar, Gunjeet Singh',
       'Ashraf Biran, Gulshan Bakhtiani, Mohan Chavan',
       'Param Singh, Aashna Singh, Abhijeet Mittal, Jitesh Arora',
       'Gunjan Kejriwal, Utsav Tiwary',
       'Vinamra Pandiya, Mayank Gupta, Joji George',
       'Pallav Pandey, Ankur Pandey, Siddharth Singh', 'Anup Kumar',
       'Punweet Singh, Shuchir Suri', 'Sujay Santra',
       'Mikhil Raj, Shubhadit Sharma, Ishaan Preet Singh',
       'Mukesh Ambani', 'Saurabh Uttam, Ravi Singhal',
       'Arun Vinayak, Swapnil Jain, Tarun Mehta',
       'Sriram Kannan, Surajit Das', 'Rakesh Malhotra', 'Anjana Reddy',
       'Vivek Bhutyani',
       'Abhishek Negi, Aditya Singh, Pankaj Pandey, Uttam Kumar',
       'Gireesh Rajendran, Ashish Lachhwani, Apu Sivadas, Rakesh Kumar and Alok Joshi',
       'Kartikey Hariyani, Pavan Bakeri', 'Kavish Gadia, Nikhil Saraf',
       'David Stavens, Mike Sokolsky, Sebastian Thrun',
       'Abhijit Patil, Abhishek Tomar, Pankaj Raut',
       'Ajay Nain, Prateek Chaturvedi', 'Abhishek Kabra, Aman Gour',
       'Altaf Saiyed, Saloni Anand',
       'Anurag Mehrotra, Krishnakant Thakur, Mohammed Bhol, Gautam Singh',
       'Shivank Agarwal, Anish Khandelwal', 'Sahil Jatana',
       'Ajay Kumar, Murari Singh', 'Jatin Solanki',
       'Adit Jain, Anand Prajapati, Mayank Goyal',
       'HS Srinivasan, Krishnan Rajan, E.V. Shunmugam',
       'Saurabh Gupta, Siddharth Swarnkar',
       'Arun Mallavarapu, Prasanth Madavana',
       'Adarsh Manpuria, Vaibhav Aggarwal', 'Chandrakanta, Rajendra Lora',
       'Abhishek Kothari, Deepak Jain, Manish Lunia, Ritesh Jain',
       'Nilay Pandey, Saurav Singh, Vivek Kumar',
       'Siddharth Dialani, Sai Gole', 'Nirav Choksi',
       'Rohan Dedhia, Vaibhav Saraf, Hrishabh Sanghvi',
       'Mohit Sahney, Sunita Sahney',
       'Mihir, Payoj Jain, Divyansh Bordia, Anshuman Kumar',
       'Sachin Chhabra, Nidhi Ramachandran', 'Nilay Mehrotra',
       'Aneesh Mathur', 'Aanan Khurma, Aditya Seth, Ripunjay Chachan',
       'Ashish Jhina, Karthik Venkateswaran',
       'Paavan Nanda, Saumya Singh Rathore',
       'Tarun Sharma, Vikas Lachhwani', 'Rohan Nayak',
       'Sagar Bhalotia, Anish Basu Roy', 'Advitiya Sharma, Gaurav Lahoti',
       'Sunoor Kaul,',
       'Amit Srivastava, Bhavik Vasa, Sachin Tagra, Sachin Tagra',
       'Saurabh Tandan, Pravin Agarwala', 'Talha Shaikh',
       'Harsh Vakharia, Pankit Chheda, Sanket Shah',
       'Mayank Agarwal, Vaibhav Jain', 'Atul Monga', 'Meena Sankaran',
       'Kasuhik Mukherjee, Vineeta Singh', 'Gomathi S, Dr Balaji Sampath',
       'Guru Sankararaman, Jay Vijayan', 'David guerin',
       'Amit mandahar, Chaitali roy', 'Anjan Panneer Selvam',
       'Narayan Subramaniam, Niraj Rajmohan',
       'Akshay Saini, Rahul Saini, Pranav Chabhadia',
       'Ranodeep Saha, Vijay Kumar', 'Charles Creighton', 'Siraj Dhanani',
       'Chris Sampson, Marcel Herz, Martin Karafilis',
       'Deepak Anchala, Rahul Bhattacharya, Ranjana TN', 'Manish Kaul',
       'Priya Goel Sheth, Harsh Jain',
       'Abhishek Verma, Harshit Mittal, Kumar Kushang, Nitin Prakash',
       'Pankaj Sharma',
       'Afeef Zaman, Ataur Rahim Chowdhury, Siffat Sarwar',
       'M R Srinivas', 'Subhash Choudhary, Suumit Shah',
       'Nikhil Jain, Nittin Mittal, Sumit Chhazed',
       'Sat Tomer, Yukti Gill', 'Arun Sreyas, Gautham Maheswaran',
       'Dinesh Godara',
       'Aayushi Khandelwal, Akhil Kansal, Kuldeep Parewa',
       'Amit Dutta, Ashok Mittal',
       'Abhay Jeet Gupta, Parveen Kataria, Udbhav Rai, Vineet Sharma, Vishal Mishra',
       'Supratik Ghatak', 'Surender Gounder', 'Gaurav Baid',
       'Denis Sverdlov', 'Angus McDonald, Chris Bayley',
       "Andrea Boeri, Braghin Francesco, Giovanni Capellari, Luca D'Alessandro, Stefano Caverni",
       'Tushar Bhargava, Anshul Gupta',
       'Alex Kostecki, Erich Nussbaumer, Nico Simko', 'Arjun Balaji',
       'Chintan Raikar, Prashant Iyengar, Sneh Vaswani',
       'Harshil Mathur, Shashank Kumar',
       'Ashutosh Vikram, Kartheeswaran K K, Sharath Loganathan, Thiru Nagarajan, Thirukumaran Nagarajan, Vasu Devan',
       'Binod Kumar Homagai, Sagar Daryani, Shah Miftaur Rahman',
       'Anirudh Singla, Rishabh Shekhar',
       'Anuj Srivastava, Ramakant Sharma, Shagufta Anurag',
       'HariPrasath M., Rupam Das',
       'Alessandro Traverso, Birger Lie, Harald Jellum, Matteo Berlucchi',
       'Jean Pierre Nozieres', 'Amit Sinha, Ashok Prasad',
       'Kuljit Chadha, Subramanian Viswanathan', 'Nitin Gupta',
       'Hirak Joshi, Aalesh Avlani',
       'KP Saravanan, Krish Subramanian, Rajaraman Santhanam, Thiyagarajan T',
       'Ashwini Purohit, MS Chouhan',
       'Arun George, Nikhil NP, Rashid Bin Abdulla, Vimal Govind MK',
       'Maya Lakshman', 'Kishor Kumar Jha, Praveen Kumar',
       'Sandeep Kondaji, Vishnuprasada Bhat, Anand Bellan Raman',
       'Nagmanjunath Shivakumar, Savio Sebastian', 'Anurag Bist',
       'Abhinand Kaseti, Harish B V, Sathvik Vishwanath, Sunny Ray',
       'Andrew Linfoot, Ayush Jaiswal', 'Ram N Kumar', 'Vaibhav Anant',
       'Kabandi Saika, Manik Mehta', 'Vinayak Seth',
       'Kadam Jeet Jain, Rahul Chaudhary, Sidharth Gupta',
       'Mainak, Sreekrishna', 'Azhar Iqubal', 'CA Abhinit Singh',
       'Bharat Gupta, Pritesh Kumar',
       'Simar Kohli, Tharun Kumar, Praseed KK',
       'Ariel Assaraf, Guy Kroupp, Lior Redlus, Yoni Farin',
       'Johnson Fernandes, Ravneet Kaur', 'Yi Zhang', 'Anu Meena',
       'Ashwin Srivastava, Hardik Somani', 'Lu Zhao', 'Amit Gainda',
       'Rahul Gupta, Swati Gupta', 'Rahul Anand',
       'Harsimarbir (Harsh) Singh',
       'Dinesh Pratap, Lokendra Ranawat, Vikas Baheti, Virendra Ranawat',
       'Ruchi Deepak, Varun Dua', 'Pradeep PS',
       'Balaji Viswanathan, Bharat Kumar, Mahalakshmi Radhakrishnan',
       'Lovepreet Mann, Nikhil Kumar, Parul Jain',
       'Suhail Chandhok, Arvind Sivdas, Dhanya Param',
       'Benoit Dageville, Bob Muglia, Marcin Zukowski, Thierry Cruanes',
       'Santosh Kataria, Ankit Kimtee, Vivek Jain',
       'Bhaswat Agarwal, Bikash Dash, Mukul Rustagi, Vatsal Rustagi',
       'Saif Dhorajiwala, Vikas saluguti, Vivek Subramanian',
       'Binny Bansal, Sachin Bansal',
       'Aniket Deshpande, Gaurav Kumar, Irfan Mohammed, Soumendra Ghosh, Vineet Sukumar',
       'Ankit Agrawal', 'Afsal Salu, Fayaz Bin Abdu, Soudabi',
       'Byju Raveendran', 'Krishna Kumar, Saroja Yeramilli',
       'Dhirubhai Ambani',
       'Parampara Capital, Venkat Vallabhaneni, Jatin Desai',
       'Tuhin Bhowmick', 'Deepshikha Kumar', 'Suhas raikar',
       'Bhavit Sheth, Harsh Jain', 'Govind Balachandran', 'Rajan Navani',
       'Arun Kumar Sureban', 'Gaurav Parchani',
       'Jaydeep Barman, Kallol Banerjee', 'Varun Sheth, Kunal Kapoor',
       'R. Baskar Babu', 'Gaurav Munjal, ?Roman Saini?',
       'Lodha, Priyanka Rathore', 'Pranav Pai, Siddarth Pai',
       'Deepthi Ravula', 'Deepinder Goyal, Pankaj Chaddah',
       'Abhishek Satish, Adarsh Warrier', 'Pawan Agarwal',
       'Rohtash Mal CMD, Adwitiya', 'Shankar Prasad',
       'Vijay Anand Bhagavatula',
       'Ananda Prakash Verma, Shailendra Tiwari',
       'Saswat Sahu, Rishi Raj',
       'Adhil Shetty, Arjun Shetty, Rati Shetty', 'Pratik Shah',
       'Nikhilesh Mishra, Puneet Jain',
       'Ranjit Punja, R Sudarshan, Gowri Mukherjee', 'Vidur Maheswari',
       'Ishan Sharma, Rishikesh Kumar', 'Shubham Gupta, Suresh Singh',
       'Sachin Ravi, Raghav Chakravarthy', 'Mihir Mohan Mishra',
       'Ashwin Kumar, Shoaib Mohammed',
       'Damien Toledo, Jim Bugwadia, Ritesh Patel', 'Anmol Singh Jaggi',
       'Dhruv Sawhney, Vivek Sahi, Sunny Bagla',
       'Apurv Agrawal, Kanika Jain, Rishabh Ladha, Vikas Gulati',
       'Debi Prasad Baral, Naveesh Reddy, Rohit Gajbhiye, Sunit Gajbhiye',
       'Amit Sethi, Mandeep Manocha, Nakul Kumar', 'Deepak MV',
       'Shailendra Dhakad, Rupika Taneja',
       'Aanand Srinivas, Avinash Anand, Shankar Ram A',
       'Ashish Munjal, Piyush Nangru',
       'Anand Prabhu Subramanian, Vijay Gabale',
       'Vaibhav Kapoor, Pulkit Kapoor', 'Anil Kumar',
       'Dr Milind Choudhari, Dr Prasad Bhagat, and Dr Anupama',
       'Mario Suntanu', 'Manoj Pillai', 'Somdutta Singh', 'Rahul Darda',
       'Nishant Patel', 'Erez Galonska, Guy Galonska, Osnat Michaeli',
       'Vijay Narasiman', 'Shrirang Tambe', 'Shirish Deodhar',
       'Harish Mamtani', 'Shubham Malhotra, Sai Srinivas',
       'Iyad Aldalooj, Majid Aldalooj, Mohammed Ibrahim', 'Kunal Mahipal',
       'Bharath Rao',
       'Abhishek Mishra, Kush Agarwal, Lav Agarwal, Stella Hu',
       'Kunal Kishore Sinha, Sagar Pushp', 'Sreevathsa Prabhakar',
       'Ankush Sachdeva, Bhanu Pratap Singh, Bhanu Singh, Farid Ahsan',
       'Ashray Malhotra, Nisheeth Lahoti, Shivam Mangla',
       'Saroja Yeramilli, R Krishnakumar',
       'Chandranshu Sinha, Kartik Sheth', 'Shah, Abhay Bhat',
       'Ajay Kadyan, Kumar Mayank', 'Tarun Lawadia, Sameer Kalra',
       'Kabir Bose', 'Malika Datt Sadani, Mohit Sadaani', 'Ji Cheol Ryu',
       'Anurag Sinha, Rupesh Kumar, Vibhav Hathi',
       'Jitendra Chouksey, Sonal Singh, Jyoti Dabas, Bala Krishna Reddy, Rohit Chattopadhyay.',
       'Akash Deep Singhal, Akshaya Singhal, Devashish Saxena, Gauri Dehnkar',
       'Rohan Bhargava, Swati Bhargava',
       'Nishant Chandra, Siddharth Maheshwari',
       'Lalit Mangal, Manoj Singh, Vinay Kumar Jasti',
       'Akash Singh, Sharath Keshava Narayana, Swapnil Jain',
       'Bhupinder Singh', 'Zishaan Hayath, Hemanth Goteti',
       'Vinay Sanghi', 'Sumeet Mehta, Smita Deorah', 'Sahil Sheth',
       'Nirmit Parikh', 'Amit Rathore',
       'Kabeer Biswas, Ankur Agarwal, Dalvir Suri, Mukund Jha',
       'Ranjan Kumar', 'Anuj Srivastava, Ramakant Sharma',
       'Swarup Mavanoor, Rahul Sankhe', 'Saurabh Pandey, Akshay Dubey',
       'Vivek Rajkumar',
       'Sonal Dandotia, Shantanu S, Virendra Chouhan, Vaibhav Tiwari',
       'Rama Harinath, Srikanth Iyer', 'Darpan Sanghvi', 'Kajal Ilmi',
       'Arunprasad Durairaj, Vijaybabu Gandhi, Shreenidhi Srirangam',
       'Madhusudanan R, Prabhu R',
       'Dr. R. Shivaraman, Praveen Dwarakanath', 'Arun Prakash',
       'Anmol Singh Jaggi, Punit K Goyal',
       'Nakul Kukar, Paras Kaushal, Supratim Naskar',
       'Sai Srinivas Kiran Garimella, Shubham Malhotra',
       'Kishan Vasani, Sai Sreenivas Kodur', 'Amit Dhakad, Hiral Jain',
       'Lalit Keshre, Harsh Jain, Neeraj Singh, Ishan Bansal',
       'Dr Mallesh Bommanahal, Varzavand Batliwala',
       'Pratik Agarwal, Raj Desai, Varsha Bhambhani', 'Amit Agrawal',
       'Karthi Mariappan', 'Tanmai Gopal, Rajoshi Ghosh',
       'Ravi Ravulaparthi, Lakshman Gupta, Vamsee Mohan', 'Cindy Kua',
       'Yashash Agarwal, Gaurav Agarwal', 'Ankit Agarwal',
       'Vaishali Kulkarni, Arjun Singh Bajwa',
       'Ananth Narayanan, T-ushar Kumar', 'Ashok Hariharan, Vineet Jawa',
       'Charlie, Jay, Martin', 'Samarth Agrawal, Rohit Narang',
       'Manoj Gupta, Monica Gupta',
       'Arpita Kapoor, Mohit Rangaraju, Shilp Gupta',
       'Pankaj Chaddah, Staff Pooja Khanna', 'Ishan Sharma, Rishikesh',
       'Chaitanya Kalipatnapu, Ashwin Damera', 'Shobhit Bhatnagar',
       'Abhishek Goyal, Neha Singh', 'Abhishek Agarwal',
       'Pramod Ravindra', 'Saurabh Singh, Rahul Jain, Nagender Sangra',
       'Amit Singh, Deepanshu Malviya', 'Aniket Shinde, Hardik Gondaliya',
       'Sarvesh Shashi',
       'Siddharth Das, Dr Rahul Dave, Dr Pavlos Protopapas',
       'Nakerikanti Harish', 'Peter Barcak',
       'Arpit Rajpurohit, Jayesh Rajpurohit',
       'Amit Bhardwaj, Nikhil Hegde.',
       'Srinivas Madhavam, Srikanth Rajashekhar, Rahul Mehta',
       'Sonakshi Nathani, Ashutosh Singla', 'Omer Basith',
       'Devansh Jain Nawal, Ackshay Jain', 'Snehil Khanor',
       'Nimish Goel, Nevaid Aggarwal, Devender Bindal',
       'Ankush Aggarwal, Tushar Mehndiratta', 'Manuraj Jain, Surajit Raj',
       'Kunaal Dudeja, Nalin Saluja, Archit Jayaswal',
       'Manish Shara, Yash Desai', 'Gaurav Singh', 'Varun Khanna',
       'Inderveer Singh', 'Sumeet Yashpal Mehta, Smita Deorah',
       'Pulkit Agrawal, Prashant Sachan, Arun Lodhi, Bimal Kartheek Rebba, Nirav Sheth',
       'Utham Gowda',
       'Mihir Gupta, Payoj Jain, Divyansh Bordia, Anshuman Kumar',
       'Kshitij Khandelwal, Awais Ahmed', 'Dhruv Bhushan',
       'Rajesh Bernard, Vijay Krishna, Prateek Mehta',
       'Ravish Agrawal, Swatantra Kumar, Siddharth Srivastav',
       'Sanjeev Nair', 'Smriti Tomar', 'Anurag Sinha',
       'Prateek Shukla, Nrupul Dev, Yogesh Bhat',
       'Shivank Agarwal, Anish Khandelwal.',
       'Prerna Kalra, Vidya Bhushan',
       'DVL Padma Priya, Rakesh Kamal, Tarun Nirwan',
       'Public banks, Private lenders',
       'Kiran Ramakrishna, Subhajit Mukherjee',
       'Pranjal Kacholia, Divyansh Mathur', 'Rishab Mehta',
       'Sateesh Nukala, SachinNandwana', 'Vineet Toshniwala',
       'Srikanth Iyer, Rama Harinath', 'Sandipan Mitra, Uttam Kumar',
       'Ananthakrishnan Gopal, Ashok Balasundaram, Sriram P H',
       'Varun Chopra, Raheel Shah', 'Kshitj Puri, Shalabh Singhal',
       'Rushabh Sheth, Bikram Dahl',
       'Abhinav Ayan, Anirban Jyoti Chakravorty, Soumyaranjan Harichandan',
       'Biswatma Nayak, Siddharth Gautam', 'Varun Saxena',
       'Rajit Bhattacharya, Aisik Paul, Ankit Das',
       'Adit Chhabra, Tapan Dixit,Tanay Dixit.',
       'Viijender Reddy, Manas Ranjan Hota', 'Tanmaya Jain, Varun Puri',
       'Anand Singh, Ankit Vaish', 'Vittal Ramakrishna',
       'Jaydeep Barman, Kallol Bannerjee',
       'Manish Jethani, Sourabh Agarwal',
       'Kapil Mathrani, Rohan Bhatt, Poojan Thakkar', 'Sumit Ghosh',
       'Ankush Sachdeva, Bhanu Pratap Singh, Farid Ahsan', 'Dhruvin Shah',
       'Dr. Sachin Bhavsar', 'Sumeet Kapur, Ankur Bhatia, Aanchal Kapur',
       'Prasanna Kumar, Mahesh Bhat, Rajasekhar, Amith S Mali',
       'Karan Khairajani, Surojit Roy', 'Sachin Bhatia, Atit Jain',
       'Zishaan Hayath',
       'Archana Elapavuluri, Namandeep Bhatia, Siddharth Panjwani',
       'K.L.N Sai Prasanth, Yathindra Ajay K.A, K. Prathyusha',
       'Vivek Tiwari', 'Bijay Gautam, Souniya Khurana',
       'Saif Dhorajiwala', 'Mohammed Hisamuddin', 'Deepak Grover',
       'Sudeep Singh', 'Ragini Das, Anand Sinha',
       'Tarun Mehta, Swapnil Jain',
       'Chirag Mittal, Parag Modi, Anirudh Syal',
       'Praneeth Kumar, Shobhit Jain, Mrudhukar Batchu, Kiran Naik',
       'Suman Maram, Sudheer Maram',

In [177]:
data['Investor'].unique()

array(['Angel investors', 'GSF Accelerator', 'Venture Center',
       'Venture Catalysts, PointOne Capital',
       'Siana Capital Management, Info Edge',
       'Venture Catalysts, 9Unicorns Accelerator Fund', 'ICICI Bank.',
       'HostelFund', 'KB Investment, Bertelsmann India Investments',
       'Shantanu Deshpande, Subramaniam Ramadorai', 'Fireside Ventures',
       'Axilor Ventures, S.D. Shibulal', "Acumen Fund's angel programme",
       'Sequoia Capital India, Sixth Sense Ventures', 'Rebel Foods',
       'Kora, Tiger Global Management', '100X VC, Amara Ventures',
       'Bertelsmann India Investments, InnoVen Capital',
       'Mastercard, Temasek Holdings', 'BlackSoil, Caspian',
       'Jindal Steels, Jeet Banerjee', None, 'Zenith Global',
       'Unitus Ventures, Work10M', 'Coinbase Ventures, Polychain',
       'Mithril Capital Management.', 'Google', 'Better Capital',
       'Steadview Capital, Canada Pension Plan Investment Board',
       'Quona Capital', 'Swastika', 'Flipkart, Walmart',
       'Delhi Private School, UAE, Interstar', 'Malpani Ventures',
       'Survam Partners', 'Whiteboard Capital', 'Sequoia Capital.',
       'Blacksoil', 'Bridgestone India', 'BEENEXT, Mayfield Fund',
       'A91 Partners, Artha India Ventures',
       'Sequoia Capital, India Quotient', 'NIIF Ltd, CDC Group',
       'PayU Finance India, Quona Capital', 'STEMROBO Technologies',
       'Infrastructure Leasing & Financial Services Limited, Dorm Room Fund',
       'The CoWrks Foundry', 'Flipkart', 'Y Combinator, Sierra Ventures',
       '9Unicorns Accelerator Fund', 'Speciale Invest',
       'XRM Media, Kevin Lin', 'Huddle Accelerator',
       'Hindustan Media Venture, Nicolas Jarrosson', 'India Angel Fund',
       'Blume Ventures', 'Elevation Capital, Trifecta Capital Advisors',
       'Stride Ventures, Matrix Partners India', '9Unicorns, Anicut',
       'Venture Catalysts, 9Unicorns, We Founders Circle.',
       'SenseAI Ventures, Saurabh Chugh',
       'Startup incubator, Accelerator Venture Catalysts',
       'India Accelerator, Sunil Kamath',
       'Ramakant Sharma, Leo Capital India',
       'Investment Corporation of Dubai (ICD)',
       '9Point8 Capital, Sunil Kumar Singhvi',
       'Sandeep Tandon, Survam Partners',
       'Falcon Edge Capital, Omidyar Network', 'WEH Ventures, BEENEXT',
       'Sequoia Capital India, CapitalG', 'La Gajjar Group.',
       'Axilor Ventures, Unitus Ventures', 'Prolific angel investors',
       'Ideaspring Capital, Accel', 'Nativelead Foundation',
       'FMO, IndusInd Bank',
       'Trifecta Capital Advisors, Nexus Venture Partners', 'Lightbox',
       'Golden Birch Investments, She Capital',
       'Pras Hanuma, Rebright Partners, Java Capital, and GSF Accelerator.',
       'General Catalyst, Ribbit Capital', 'FMO', 'Surge',
       'Unitus Ventures, Whiteboard Capital',
       'StartupXseed Ventures, 100X.VC',
       'Stellaris Venture Partners, Mastercard',
       'Paula Mariwala, Siddharth Anand', 'Sequoia Capital India’s Surge',
       'Venture Catalysts, 9Unicorns', 'India Accelerator',
       'Pegasus Tech Ventures, Base Partners', 'GoodWorker.', 'Capify',
       'Mumbai Angels, JITO Angel Network.',
       'George Osborne, Smilegate Investment',
       'Accel India, Breadlake Ventures', 'Ankur Mittal, Mitesh Shah',
       'IIFL Asset Management, Matrix Partners', 'IIFL AMC',
       'Global Car Group, Freemark holdings',
       'Venture Catalysts, Speciale Invest', 'Venture Catalysts',
       'Anupam Mittal, India Quotient', 'Unicorn India Ventures',
       'DTDC, Udaan Angel Partners', 'Rainmatter',
       'YourNest, growX ventures', 'Gemba Capital',
       'Dragoneer Investment Group, Tiger Global Management',
       'India Quotient', 'Surge, Tanglin Venture Partners',
       'Alia Bhatt, Katrina Kaif', 'Pravega Ventures',
       'Techstars Bangalore Accelerator, Techstars',
       'Alfa Ventures, Divij Bajaj',
       'Owl Ventures, Tiger Global Management',
       'Whiteboard Capital, Matrix Partners India',
       'Orios Venture Partners, Matrix Partners India',
       '9Unicorns, 3Lines VC, Hyderabad Angels',
       'Techstars, Techstars Bangalore Accelerator',
       'Rajasthan Venture Capital Fund, AIM Smart City',
       'Venture Catalysts, SOSV', 'BASE, Gunosy Capital',
       'Nexus Venture Partners, Dream Incubator', 'DSG Consumer Partners',
       'IBK Capital, SB Partners', 'Whiteboard Capital, Ahimsa Capital',
       'Jonathan Swanson, Ankush Gera', 'Titan Capital',
       'Asha Impact, Aavishkaar Venture Capital',
       'Peyush Bansal, Ritesh Malik', 'AngelList India',
       '3Lines, Jabbar Internet Group',
       'Canaan Partners, NewView Capital', 'Better Capital, Gunosy',
       'Sanjay Ramakrishnan, Ravi Garikipati', '9Unicorns', 'Jazal Group',
       'Small Industries Development Bank of India', 'Goldman Sachs',
       'LetsVenture, Jyotsna Bapat', 'Alibaba Group, InnoVen Capital',
       'Poonawalla, Allana Group', 'Navus Ventures, Rockstart',
       'AET Japan, Figure Eight Investments, Waterbridge Ventures',
       'Sweta Rau, Archana Priyadarshini', 'Rajul Garg, Purvi Capital',
       'Rajasthan Venture Capital Fund',
       'Ratan Tata, Inflection Point Ventures, Ankur Mittal',
       'Lightspeed, Elevation, Deepika Padukone',
       'Abu Dhabi Investment Authority, GIC', 'Global Ascent Partners',
       'HeroMotoCorp Ltd and Sachin Bansal',
       'VAMM Ventures, Naresh Malhotra', 'DEG, KFW DEG',
       'Accel, Alteria Capital', 'Mumbai Angels Network',
       'AVANA Capital, Rebright Partners', 'Endiya Partners.',
       'Mumbai Angels', 'Menterra Venture Advisors, Emandi Sankara Rao',
       'Hercules Capital, Inc.Bertelsmann', 'Mohsin Hani Al Bahrani, MoD',
       'CP Ventures, Orios Venture Partners',
       'Kia Ora Ventures, Pentathlon Ventures',
       'Kae Capital, Whiteboard Capital', 'Lokmat Investments',
       'Niren Shah, Rukam Capital Trust',
       'Chandigarh Angels Network, Modulor Capital',
       'Rohit Chanana, Sukanta Ganguly', 'Alan Patricof, Jim Moffatt',
       'IAN Fund', '9Unicorns, Titan Capital, FirstCheque',
       'AIM Smart City', 'RB Investments Pte. Ltd, Goldman Sachs',
       'Rajasthan Venture Capital Fund, Innovana Thinklabs',
       '>Vikram Sud', 'Maple Capital Advisors',
       '021 Capital, India Quotient', 'Ascent Capital, Iron Pillar',
       'Oaks Asset Management', 'Roots Ventures, Better Capital',
       'Sequoia Capital India, Faering Capital', 'Lightspeed India',
       'CESC Ventures, Brun Raschle', 'Accel, Sunder Nookala', 'Justdial',
       'KLUB Works, Shankar Narayanan',
       'Nexus Venture Partners and 23 High Networth Individuals (HNIs)',
       'Makers Fund, Courtside Ventures', 'RPSG Ventures, Amicus Capital',
       'Times Group, Lightspeed', 'Mumbai Angels, Murali Nair',
       'Nexus Venture Partners, Capria Ventures',
       'Katrina Kaif, Steadview Capital',
       'Exfinity Venture Partners, Shesh Kondi',
       'Sandeep Tandon, Daniel Lapus', 'Northern Arc Capital',
       'Samyakth Capital, Venture Catalysts', 'Jungle Ventures',
       'Windrose Capital', 'Base Partners, Sequoia Capital India',
       'Nishant Rao, Jonathan Boutelle', 'Picus Capital',
       'Citi Ventures, Illuminated Funds Group',
       'A91 Partners, RB Investments Pte. Ltd',
       'GenNext Ventures, Contrarian Drishti Partners', 'Anand Mahindra',
       'Alliance Ventures, Storm Ventures', 'Tandem',
       'Indian Oil Corporation, Krishna Chakravarty', 'Tech Mahindra',
       'Whiteboard Capital, VKG Ventures LLP.', 'TVS Motor Company',
       'Sujeet Kumar, Hemesh Singh', 'Mount Judi Ventures',
       'AngelList, Investec', 'Accel, Stellaris Venture Partners',
       'Artha Venture', 'MOX, SOSV',
       'Flourish Ventures, Lonsdale Capital', 'Kapil Dev',
       'Lightspeed, Matrix Partners.',
       'Eight Roads Ventures, On Mauritius',
       'NABVENTURES, Social Alpha (India)',
       'growX Ventures, Huddle (Incubator)',
       'Better Capital, Kunal Shah, Gaurav Munjal',
       'Lead Angels Network, Roots Ventures',
       'Rohit Bansal, Rohan Ranavat', 'Real Estate Accelerator Program',
       'Riso Investments, Lenskart', 'Sequoia Capital India',
       'UPS Ventures, Hyundai Motor Company',
       'King River Capital, Leap Capital', 'SOSV, Artesian',
       'Upfront Ventures, Walkabout Ventures', 'Advent Partners',
       'Stride Ventures, YourNest Venture Capital',
       'Tiger Global Management, Sequoia Capital India',
       'Syngenta Ventures, Walmart',
       'Tiger Global Management, William Bissell',
       'Alok Mittal, Manan Maheshwari',
       'Mercer Investments, Bessemer Venture Partners', 'Startup Basket.',
       'Orkla Ventures, Smedvig Capital', 'NABVENTURES',
       'Xseed Partners, InnoVen Capital',
       'Lightspeed India Partners, Accel India',
       'Accel, Steadview Capital',
       'Silver Lake, Mubadala Investment Company',
       'Amit Lakhotia, Akash Gehani',
       'Aavishkaar Venture Capital, Chiratae Ventures',
       'NABVENTURES, Omnivore', 'Java Capital',
       'SenseAI Ventures, EvoNexus', 'Digital Finance Group, FundersClub',
       'Sriharsha Majety, Rahul Jaimini', 'Wavemaker Partners, Subho Ray',
       'Upsparks', 'Saurabh Arora, LD Sharma', 'Foxhog Ventures',
       'Ramesh Mangaleswaran, Saikiran Krishnamurthy', 'Triodos, Caspian',
       "Lee Fixel's Addition, SIG Global, Tanglin Venture Partners",
       'I2I Capitals', 'Core91 Fund, Anupam Mittal', 'Terwilliger Centre',
       '2B Angels, Janvest Capital Partners', 'Rising Stars',
       'General Atlantic, Kohlberg Kravis Roberts',
       'CICC Alpha, VMS Asset Management', 'Sekhar Puli',
       'Cowin Venture, ZSVC', 'International Finance Corporation',
       'BlackSoil, BEENEXT', 'Marc Lore, Rise Capital',
       'Sequoia Capital India, Hummingbird Ventures',
       'IAN Fund, Rajasthan Venture Capital Fund',
       'RPS Ventures, Intact Ventures',
       'Artha India Ventures, Nagaraja Prakasam',
       'Chiripal Group, Ratish Kumar Nair',
       'Pallav Nadhani, Idein Ventures',
       'Salesforce Ventures, Dragoneer Investment Group',
       'Spiral Ventures, Surge', 'Sequoia Capital India, Times Internet',
       'responsAbility, Grameen Impact India (GIII)',
       'Tencent Holdings, Walmart',
       'Aspada, Creation Investments Capital Management, LLC',
       'GirnarSoft',
       'Jamshed Jeejeebhoy, Symphony International Holdings',
       'Facebook, Google, KKR, Silver Lake',
       '021 Capital, Karnataka Information Technology Venture Capital Fund',
       'Homage Ventures.', 'Steadview Capital, Tencent Holdings',
       'Adar C. Poonawalla, Kris Gopalakrishnan', 'Coatue Management',
       'Steadview Capital', 'Mumbai Angels, Redcliffe Capital',
       'Gaja Capital, Kotak Life, Lok Capital',
       'DR. Moti Vyas, Udit Goyal',
       'Nexus Venture Partners, Sequoia Capital',
       'Propstack, SAIF Partners',
       'MacRitchie Investments, Baillie Gifford',
       'Tencent Holdings, Times Internet',
       'Global Innovation Fund, Soros Economic Development Fund',
       'Ronald Conway, Bay Partners', 'Prospect Partners.',
       'Omnivore, Zeroth.AI', 'Mumbai Angels.',
       'Ramesh Srinivasan, Amazon', 'Eight Roads Ventures',
       'Ashok Leyland, V Lakshmi Narayanan',
       'Ranjit Punja, R Sudarshan, Gowri Mukherjee',
       'Gunavanth Vaid, Bharat Kumar Sohanraj', 'Venkat Raju',
       'Silver Lake Partners',
       'Clairvest Group, Ontario Centres of Excellence',
       'Damien Toledo, Jim Bugwadia, Ritesh Patel',
       'US based NRI Investors', 'Inflection Point Ventures, Mitesh Shah',
       'Betatron', 'Chiratae Ventures, Blume Ventures',
       'Ravi Sanghvi, PitchRight Venture',
       'Bessemer Venture Partners, CDH Investments', 'HNIs',
       'Guild Capital', 'Y Combinator', 'Prime Venture Partners',
       'Mela Ventures, 1Crowd', 'responsAbility, Accel',
       'Chiratae ventures', 'Palm Drive Capital, Amatil X Ventures',
       'Sequoia Capital India, Blume Ventures',
       'JF Mauritius SPV, IndusAge Partners', 'VC Firm K Partners',
       'India Alternatives Private Equity Fund, Tata Capital',
       'Bonnier Ventures, Hanaco Venture Capital',
       'Gemba Capital, Gunderson Dettmer', '500 Startups, ah! Ventures',
       'Base Partners, GO Ventures', 'Accel, Zodius Capital',
       'Windrose Capital, Anil Advani', 'Seeds Capital, AIM Smart City',
       'Blume Ventures, Tetrao',
       'Lightspeed venture partners, saif partners',
       'Shadows Holdings, Lightbox',
       'Lightspeed India Partners, Sequoia Capital India',
       'Abhishant Pant, Chiranth Patil', 'Madison, Anicut',
       'DSG Consumer Partners, Saama Capital',
       'Kakao Ventures, Shinhan Capital',
       'Matrix Partners India, Hummingbird Ventures',
       '23 High Networth Individuals (HNIs).',
       'Ratan Tata, Kalaari Capital', 'Nexus Venture Partners',
       'Global Founders Capital, Redpoint',
       '01 Advisors, Steadview Capital', 'Pushpak Credit, Fiscal',
       'Kaizenvest, Foundation Holdings',
       'Pincus, JP Morgan, Temasek, March Capital',
       'Westbridge Capital, Elevar Equity', 'BAce Capital, Madhur Deora',
       'Lightspeed India, Sequoia Capital India',
       'IIFL Asset Management, Raghav Bahl',
       'Wes Schwalje, Alteria Capital',
       'IDFC-Parampara Fund, Bharat Innovation Fund',
       'Mercer Investments, Nicholas Cator',
       'Falcon Edge Capital, SAIF Partners', 'Chiratae Ventures.',
       'Menterra Venture Advisors, Rianta Capital',
       'Sunil Kumar Singhvi, Yusho Kawata',
       'Accel Partners, Sequoia Capital, Evolvence India, JSW Ventures',
       'Bessemer Venture Partners', 'Insitor Partners, C4D Partners',
       'Sinai Ventures, Y Combinator', 'Jitendra Gupta, Better Capital',
       'Mumbai Angels, Defence Innovation Organisation',
       'CBA Capital, Gray Matters Capital',
       'Kalpavriksh, JITO Angel Network',
       'growX ventures, Sangam Ventures',
       'SRI Capital, Techstars Farm to Fork Accelerator',
       'Y Combinator, Ribbit Capital', 'Hatanaka Yosuke, Minomiya Takeo',
       'Krishnan Menon, Srinivas Kollipara',
       'SucSEED Venture Partners, ah! Ventures', 'Surge, Kae Capital',
       'Nexus Venture Partners, Sam Lambert',
       'Alto Partners, Mission Holdings', 'SCB 10X, LINE Ventures',
       'Powerhouse ventures, Tracxn,', 'Kaplan Foundation', 'Ivy Icon',
       'Millenna FVCI III, NB Ventures, Dream Incubator', 'Balancehero',
       'Anicut Capital',
       'Al Falaj Commercial Investment Co, Vistra ITCL India',
       'Supera Investments',
       'Accel India, Blume Ventures, 3F Ventures, Akatsuki Inc',
       'GGV Capital, Sahi Barual',
       'Grand Anicut Angel Fund (GAAF), AL Trust, Beeline Impex Private Limited, 9Unicorns, Accelerator Fund',
       'Bertelsmann India Investments, Sequoia Capital India',
       'Times Internet, TLabs',
       'Saif partners, Accel partners, Sequoia capital',
       'Jitendra Gupta, Astarc Ventures.', 'Nestavera Ventures.',
       'MOX, Venture Catalysts', 'Sojitz, SIG Global India Fund',
       'Mohan Verma, Better Capital', 'Shikhar Dhawan, Mantra Capital',
       'Kiran Mazumdar Shaw.', 'Bhadresh',
       'GB Group, Walden International', 'Meghna Agarwal, Navin Dhanuka',
       'V Sumantran, V Lakshmi Narayanan',
       'Keiretsu Forum, SucSEED Venture Partners',
       'Sweta Rau, Sandeep Kapoor', 'Mantis ventures',
       'Napino Auto and Electronics Ltd',
       'VCATS, First Cheque, 9Unicorns, Marquee investors',
       'AngelList, Inflection Point Ventures, The Chennai Angels',
       'Mayfield India, Saama Capital, Ronnie Screwvala', 'DST Global',
       'Alphawave, Matrix Partners', 'Keiretsu Forum, Elea Foundation',
       'WaterBridge Ventures', 'Alpha Wave incubation',
       'Inflection Point Ventures', 'Anand Shah',
       'WestBridge Capital, Elevar Equity',
       'KTB Network, Samsung Ventures, Ankur Nagpal, Gokul Rajaram, Vineet Buch',
       'Ankur Capital',
       'Lightspeed India Partners, Blume Ventures, GrowX ventures',
       '3one4 Capital, Angel list India',
       'StartupXseed Ventures, Bhaskar Pramanik, MJ Aravinf, Ravi Viswanath, Ramesh Radhakrishnan, Ranjan Biswas, MJ Aniketh.',
       'SAIF Partners, Y Combinator, Neeraj Arora, Titan Capital, First Cheque.',
       'Suniel Shetty', 'SOSV, MOX (Mobile Only Accelerator)',
       'Matrix Partners India, Sequoia Capital India, Hummingbird Ventures',
       'Unitus Ventures, India Quotient, AngelList India',
       'Artha Venture Fund', 'Shobu Yarlagadda',
       'Fullerton Financial Holdings, Bertelsmann India Investments, Sistema Asia Fund, IndiaQuotient',
       '1Crowd', 'Foundation Holdings',
       'Ankur Capital, Beyond Next Ventures', 'Orios Venture Partners',
       'Evolvence India Fund (EIF), Pidilite Group, FJ Labs',
       'IIFL Income Opportunities Fund', 'Sequoia India',
       'Stride Ventures', 'Better Capital, TechStars, Barclays.',
       'Venture Catalysts,\xa0\xa0Raveen Sastry',
       'AngelList India, Utsav Somani, Village Global, LogX Ventures, Jasminder Singh Gulati',
       'Eagle10 Ventures, India Accelerator, HNIs',
       'Uday Sodhi, Mitesh Shah, Nitin Jain', 'Sequoia Surge',
       'Elina Investments', 'Qualgro, Lachy Groom',
       'Urmin Family Office, Lemonade Ventures, TrueValue Group MD Yash Shah',
       'LogX Ventures, AngelList’s Utsav Somani, NowFloats’ Jasminder Singh Gulati, AL Trust (Vistra ITCL), Village Global.',
       'All About Inc, Beenext Pte Led, Beenos Asia, DG Ventures, Kanamori Assagement Singapore, Rebright Partners I, Rebright Partners II, Tetsuro Koda',
       'Shabir Momin, OneDigital Entertainment,\xa0\xa0Saurabh Pathak.',
       'Indian Angel Fund',
       'N S Parthasarathy, Dilipkumar Khandelwal, Anand Nichani, Anath Ravi, Prashanth Prakash',
       'Crazy Labs', 'Info Edge',
       'Sanjay Mehta, Vikram Pandya, Gaurav Gupta, Vivel Srivatsav, Madhavi Bollipalli, Srinivas Paanem, Satish Bogullu',
       'Dr. Bhaskar Rao Bollineni', 'BlueOrchard Finance Limited',
       'ResponsAbility Investments AG', 'Good Capital',
       'Dr Srinivas Chunduru', 'Ashok Nichani, Shelly Nichani',
       'Hero MotoCorp', 'Unitus Venture',
       'Matrix Partners India, Ankur Capital',
       'Unicorn India, PointOne Capital, Astir Ventures',
       'Sequoia Capital India, Matrix Partners India, InfoEdge, Waterbridge Ventures',
       'BlackSoil Capital', 'Ah! Ventures', 'Rajesh Ranavat', 'Coatue',
       'Samsung Venture Investment Corporation', 'Jetty Ventures',
       '021 Capital', 'LetsVenture Syndicate', 'Chennai Angels',
       'SucSEED Ventures', '3one4 Capital', 'Incubate Fund',
       'RPSG Ventures', 'Incubate Fund India', 'Eight Road Ventures',
       'JAFCO Asia, Artha Venture Fund',
       'Tharun Dhariwal, Sunil Kumar Singhvi, Arun Ostwal, Vishal Ostwal, Gunavanth Vaid, Bharat Kumar',
       'WEH Ventures', 'Trifecta Capital', 'Vivriti Capital',
       'Adar Poonawalla, Kris Gopalakrishnan', 'LR Joshi',
       'Beenext, Rainmatter CApital Pvt Ltd, Stanford Angels & Entrepreneurs',
       'Mumbai Angel Network',
       'Investcorp, Nexus Venture Partners, Mirae Assets, Trifecta Capital',
       "ENGIE RAssembleurs d'Energies, The Rise Fund, and The Singh Family Trusts,Teja Ventures, Beyond Capital Fund.",
       'Kritik Abiram, Parthiv Rokadia, Gaurav Saraogi',
       'Invest in Vision',
       'Sofina Ventures, A91 Emerging fund, SCI Growth Investment II, Catamarann Ventures',
       'Turbostart',
       'Globevestor, Secocha Ventures, First Cheque VC, Kashyap Deorah, Vijay Sivaram',
       'NB Ventures', 'Sauce vc', '3One4 Capital, LetsVenture',
       'Better Capital, Titan Capital', 'Lightbox Ventures', 'Greenoaks',
       'Startup-O, Eden Ventures',
       'Matrix India, Y Combinator, Global Founders Capital, Soma Capital, VentureSouq',
       'InfoEdge Venture Fund, Sprout Venture Partners',

In [178]:
data['Amount'].unique()

array([2.0000000e+05, 1.0000000e+05,           nan, 4.0000000e+05,
       3.4000000e+05, 6.0000000e+05, 4.5000000e+07, 1.0000000e+06,
       2.0000000e+06, 1.2000000e+06, 6.6000000e+08, 1.2000000e+05,
       7.5000000e+06, 5.0000000e+06, 5.0000000e+05, 3.0000000e+06,
       1.0000000e+07, 1.4500000e+08, 1.0000000e+08, 2.1000000e+07,
       4.0000000e+06, 2.0000000e+07, 5.6000000e+05, 2.7500000e+05,
       4.5000000e+06, 1.5000000e+07, 3.9000000e+08, 7.0000000e+06,
       5.1000000e+06, 7.0000000e+08, 2.3000000e+06, 7.0000000e+05,
       1.9000000e+07, 9.0000000e+06, 4.0000000e+07, 7.5000000e+05,
       1.5000000e+06, 7.8000000e+06, 5.0000000e+07, 8.0000000e+07,
       3.0000000e+07, 1.7000000e+06, 2.5000000e+06, 4.0000000e+04,
       3.3000000e+07, 3.5000000e+07, 3.0000000e+05, 2.5000000e+07,
       3.5000000e+06, 2.0000000e+08, 6.0000000e+06, 1.3000000e+06,
       4.1000000e+06, 5.7500000e+05, 8.0000000e+05, 2.8000000e+07,
       1.8000000e+07, 3.2000000e+06, 9.0000000e+05, 2.5000000e+05,
       4.7000000e+06, 7.5000000e+07, 8.0000000e+06, 1.2100000e+08,
       5.5000000e+07, 3.3000000e+06, 1.1000000e+07, 1.6000000e+07,
       5.4000000e+06, 1.5000000e+08, 4.2000000e+06, 2.2000000e+07,
       5.2000000e+07, 1.1000000e+06, 1.1800000e+08, 1.6000000e+06,
       1.8500000e+07, 7.0000000e+10, 8.0000000e+08, 4.0000000e+08,
       1.5000000e+05, 1.7600000e+08, 6.0000000e+07, 4.7000000e+05,
       2.4000000e+05, 3.0000000e+09, 7.4000000e+07, 6.2000000e+07,
       2.1000000e+06, 5.0000000e+08, 1.2500000e+07, 2.2000000e+09,
       5.0600000e+06, 2.2500000e+08, 2.4700000e+07, 7.7000000e+06,
       1.9067328e+07, 5.1000000e+07, 1.1500000e+05, 5.4000000e+04,
       2.0000000e+04, 8.0314600e+05, 2.3800000e+05, 1.0220000e+07,
       1.0200000e+06, 1.2000000e+07, 1.3400000e+07, 1.7000000e+08,
       2.9000000e+06, 5.4300000e+05, 9.0000000e+07, 3.4000000e+06,
       2.3000000e+07, 8.0900000e+06, 1.0300000e+06, 5.0400000e+06,
       3.6000000e+05, 1.4000000e+06, 6.5000000e+05, 5.4000000e+07,
       4.2500000e+07, 1.1370000e+07, 3.2500000e+05, 4.1000000e+05,
       4.5000000e+05, 6.8200000e+05, 4.0500000e+06, 1.0500000e+06,
       1.0800000e+06, 4.3000000e+06, 6.8000000e+06, 2.1100000e+06,
       7.6400000e+05, 6.0300000e+05, 4.0900000e+05, 2.9200000e+05,
       2.8600000e+05, 1.3600000e+05, 5.4600000e+05, 8.8700000e+05,
       4.3000000e+04, 4.0900000e+04, 2.2000000e+06, 5.6600000e+06,
       3.5000000e+05, 1.1000000e+05, 1.2200000e+08, 1.1635000e+07,
       2.8000000e+06, 1.0650000e+06, 6.6900000e+05, 1.6076000e+07,
       6.4960000e+05, 6.7000000e+06, 2.2000000e+05, 2.6650000e+05,
       2.8790000e+06, 2.6500000e+07, 3.5100000e+05, 4.6761000e+07,
       1.7500000e+05, 1.1241000e+07, 8.0400000e+05, 1.3400000e+06,
       4.6700000e+05, 1.3300000e+05, 3.8230000e+06, 9.3400000e+05,
       2.9300000e+05, 1.9800000e+05, 9.2700000e+05, 9.7100000e+05,
       3.0600000e+06, 1.8620000e+06, 2.3200000e+05, 2.8880000e+06,
       1.3280000e+06, 1.5500000e+07, 5.6000000e+07, 2.2500000e+06,
       1.6753000e+07, 3.7000000e+06, 1.4700000e+06, 5.3000000e+05,
       2.6700000e+05, 3.3440000e+06, 7.2000000e+06, 2.7430000e+06,
       6.0820000e+06, 6.6090000e+06, 2.7700000e+07, 5.9400000e+06,
       3.9640000e+06, 5.5000000e+06, 1.9700000e+05, 4.3270000e+06,
       4.5900000e+05, 3.9370000e+06, 1.3135000e+06, 2.2980000e+05,
       5.3050000e+06, 2.6400000e+05, 1.7500000e+06, 5.9670000e+06,
       2.9800000e+06, 3.2300000e+05, 1.3260000e+06, 2.7000000e+07,
       5.2000000e+06, 2.5300000e+06, 7.9200000e+05, 1.1363000e+07,
       1.7150000e+06, 3.2900000e+05, 5.2710000e+06, 8.7000000e+06,
       3.2260000e+06, 5.9000000e+06, 4.4000000e+07, 3.8790000e+06,
       1.3000000e+07, 8.8000000e+06, 9.5000000e+06, 9.2000000e+05,
       3.5600000e+07, 9.4000000e+06, 7.9000000e+05, 4.8000000e+05,
       1.6000000e+05, 8.2000000e+06, 4.2570000e+06, 1.4100000e+06,
       3.4980000e+05, 7.8600000e+05, 2.0040000e+06, 1.2300000e+08,
       2.4800000e+05, 2.4000000e+07, 1.4259000e+07, 2.4500000e+07,
       3.8000000e+06, 1.8370000e+07, 6.8525000e+07, 4.8000000e+06,
       1.8340000e+06, 2.3850000e+07, 4.3000000e+07, 2.1600000e+07,
       4.5980000e+06, 1.3137000e+07, 1.1500000e+08, 3.9000000e+06,
       6.7000000e+05, 8.5000000e+06, 3.1480000e+06, 2.6000000e+06,
       4.0495000e+06, 1.0500000e+07, 6.5000000e+06, 4.3700000e+07,
       1.3800000e+07, 3.0690000e+05, 4.2000000e+05, 6.2730000e+05,
       1.1300000e+08, 3.2000000e+07, 1.1000000e+08, 1.3970000e+06,
       4.4850000e+05, 7.9757000e+06, 3.3000000e+05, 5.6000000e+06,
       1.4020000e+06, 2.1500000e+07, 2.9600000e+08, 4.9000000e+06,
       1.4024000e+06, 1.2618300e+07, 9.9000000e+06, 9.8253000e+05,
       7.0185200e+07, 2.1000000e+08, 8.4000000e+07, 3.9000000e+07,
       2.7000000e+06, 1.4034000e+06, 1.0500000e+08, 1.0300000e+08,
       2.8130000e+05, 1.2700000e+04, 2.5000000e+04, 9.7500000e+07,
       5.0700000e+05, 8.4000000e+06, 1.8300000e+07, 1.2500000e+08,
       1.8100000e+05, 2.8000000e+05, 1.4700000e+07, 1.3200000e+07,
       8.0430000e+06])

In [179]:
# Statistical Summary 
data['Amount'].describe().T

count    8.010000e+02
mean     1.130430e+08
std      2.476635e+09
min      1.270000e+04
25%      1.000000e+06
50%      3.000000e+06
75%      1.100000e+07
max      7.000000e+10
Name: Amount, dtype: float64

In [180]:
data['Stage'].unique()

array([None, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [181]:
Stage_counts = data['Stage'].value_counts()

Stage_counts.head()

Stage
Series A        96
Seed            80
Seed Round      69
Series B        57
Pre series A    54
Name: count, dtype: int64

Data cleaning 1st Dataset-2020 (Data)

In [182]:
 # Handling Company_Brand ensure all values start with upper case

# Convert all enries to title
data['Company_Brand'] = data['Company_Brand'].str.title()

In [183]:
# Handling Hedquarter Column 

# Fill missing values 
data['HeadQuarter'].fillna('Bangalore', inplace=True)

# Convert all enries to title
data['HeadQuarter'] = data['HeadQuarter'].str.title()

In [184]:
# Handling Founded Column 

# Fill missing values with the median
data['Founded'] = data['Founded'].fillna(data['Founded'].mode())


# Convert 'Founded'  to integer datatype 
data['Founded'] = data ['Founded'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
# Handling the Sector Column 

# Fill missing values 
data['Sector'].fillna('Unknown', inplace=True)

# Convert all values to lower case
data['Sector'] = data['Sector'].str.lower()

# Combine like values in the 'Sector' column 

from fuzzywuzzy import process

# List of standard sector names
standard_sectors = ['ai', 'api','ar/vr','accomodation','agritech','auto','b2b ','beauty ','beverage','bio','blockchain','car','cloud','co-living','co-working','construction', 'consumer', 'content', 'conversational','coworking', 'craft beer','cosmetics','crowdsourcing','cryptocurrency','customer', 'dairy','data','dating', 'deep tech', 'defense', 'digital','edtech','education','electricity ','entertainment','ev', 'finance','ecommerce'
                    'eye wear ', 'fashion','fintech ','food','gaming ','health ','home','hospitality','hr','hygiene','insurance','insurtech ', 'investment ','iot','jewellery ','job portal','legal ','life sciences','linguistic spiritual','location analytics','logistics','logitech','manufacturing','learning','market', 'med tech','media','mobility','company','nano','neo','networki','nutrition','online','startup','pharma','preschool','proptech','publication','real estate','renewable','rental','retail',
                    'robotics','saas','sales','sanitation','scanning','service','social','solution','solar','space','sports','supply','telecomm','tourism','trading','transport','travel','tyre','unknown','venture','video','virtual','visual','warehouse','protection','work','yoga']
# Function to match and replace with fuzzy matching
def replace_sector_fuzzy(sector, choices):
    match, score = process.extractOne(sector, choices)
    if score > 90:  
        return match
    else:
        return sector

# Apply the function to the 'Sector' column
data['Sector'] = data['Sector'].apply(lambda x: replace_sector_fuzzy(x, standard_sectors))


# Organise all Sector entries to title case 
data['Sector'] = data['Sector'].str.title()

data['Sector']

0                 Agritech
1                   Edtech
2       Hygiene Management
3                   Escrow
4                 Agritech
               ...
1050                Edtech
1051              Fintech
1052             Cosmetics
1053             Transport
1054              Logitech
Name: Sector, Length: 1055, dtype: object

In [ ]:
Sector_counts = data['Sector'].value_counts()

Sector_counts.head(10)

Sector
Fintech       131
Edtech        108
Healthtech     42
Agritech       39
E-Commerce     33
Saas           24
Ecommerce      22
Tech           19
Media          19
Ai             18
Name: count, dtype: int64

In [ ]:
#Handling Founders Column with the most appearing Founder 

#Fill missing Values 
data['Founders'].fillna('Falguni Nayar', inplace=True)

# Convert all entries to title case 
data['Founders'] = data['Founders'].str.title()

In [ ]:
# Handling the Investors Column ith the most appearing Investor

# Fill missing values 
data['Investor'].fillna('Venture Catalysts', inplace=True)

# Convert all entries to title
data['Investor'] = data['Investor'].str.title()

In [ ]:
# Handling the Amount Column

# For 'Amount', fill missing values with the median funding amount
data['Amount'].fillna(data['Amount'].median(), inplace=True)

In [ ]:
# Convert scientific notation to standard notation for the 'amount' column
#data['Amount'] = data['Amount'].apply(lambda x: '{:.0f}'.format(float(x)))
# Convert 'Amount'  to Float datatype 
#data['Amount'] = data ['Amount'].astype(float) 

#data['Amount']

In [ ]:
# For 'Stage', fill missing values with a placeholder
data['Stage'].fillna('Series A', inplace=True)

# Convert the stage column from object to category 

data['Stage'] = data['Stage'].astype('category')

In [ ]:
#Drop the Column10 column it has more than 98% NULL values and also in the 2021,2019,2018 data this column is not available meaning its impact is minimal
data.drop('column10', axis=1, inplace=True)

In [ ]:
# Drop duplicates

data.drop_duplicates( inplace=True)

In [ ]:
# Check for duplicates

data.duplicated().sum()

0

In [ ]:
# Add 'Year' Column 2020
data['Year']= 2020

# Convert year Column to a dataetime format
#data['Year'] = pd.to_datetime(data['Year'], format='%Y') #Convert it to a datetime format only if your analysis specifically requires datetime operations

In [ ]:
#Check to confirm there are no missing values 

data.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
Year             0
dtype: int64

In [ ]:
# Check how our 1st dataset (2020) looks like ---looks good to go
data.info ()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1052 non-null   object
 1   Founded        1052 non-null   int32
 2   HeadQuarter    1052 non-null   object
 3   Sector         1052 non-null   object
 4   What_it_does   1052 non-null   object
 5   Founders       1052 non-null   object
 6   Investor       1052 non-null   object
 7   Amount         1052 non-null   float64
 8   Stage          1052 non-null   category
 9   Year           1052 non-null   int64
dtypes: category(1), float64(1), int32(1), int64(1), object(6)
memory usage: 80.5+ KB

2nd Dataset-2021 (data2)

* This dataset is loaded from SQL Database

In [ ]:
#Loading the second dataset which is our tabel 2 (Data2)
query ='''SELECT * FROM dbo.LP1_startup_funding2021'''
 
data2 = pd.read_sql(query, connection)

In [ ]:
data2.head ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [ ]:
data2.tail ()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000.0,Pre-series A,2021
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,Iifl Amc,20000000.0,Series D,2021
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000.0,Series C,2021
1207,Collegedekho,2015,Gurugram,Edtech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, Ets, Man Capital",26000000.0,Series B,2021
1208,Werize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3One4 Capital, Kalaari Capital",8000000.0,Series A,2021

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [ ]:
data2.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [ ]:
data2.shape

(1209, 9)

In [ ]:
data2.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  1208.0  2016.655629  4.517364  1963.0  2015.0  2018.0  2020.0  2021.0

In [ ]:
data2.duplicated().sum()

19

In [ ]:
# Missing values with their percentages 
data2.isnull().sum().to_frame('Null Count').assign(Percentage=lambda x: (x['Null Count'] / len(data)) * 100)

               Null Count  Percentage
Company_Brand           0    0.000000
Founded                 1    0.095057
HeadQuarter             1    0.095057
Sector                  0    0.000000
What_it_does            0    0.000000
Founders                4    0.380228
Investor               62    5.893536
Amount                  3    0.285171
Stage                 428   40.684411

In [ ]:
data2['Company_Brand'].unique()

array(['Unbox Robotics', 'upGrad', 'Lead School', ..., 'Gigforce',
       'Vahdam', 'WeRize'], dtype=object)

In [ ]:
data2['Founded'].unique()

array([2019., 2015., 2012., 2021., 2014., 2018., 2016., 2020., 2010.,
       2017., 1993., 2008., 2013., 1999., 1989., 2011.,   nan, 2009.,
       2002., 1994., 2006., 2000., 2007., 1978., 2003., 1998., 1991.,
       1984., 2004., 2005., 1963.])

In [ ]:
HeadQuarter_counts = data2['HeadQuarter'].value_counts()

HeadQuarter_counts.head()

HeadQuarter
Bangalore    426
Mumbai       203
Gurugram     155
New Delhi    144
Pune          47
Name: count, dtype: int64

In [ ]:
data2['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', 'Small Towns, Andhra Pradesh',
       'Goa', 'Rajsamand', 'Ranchi', 'Faridabad, Haryana', 'Gujarat',
       'Thane', 'Pune', 'Cochin', 'Noida', 'Chandigarh', 'Gurgaon',
       'Vadodara', 'Food & Beverages', 'Kolkata', 'Ahmedabad', 'Mohali',
       'Indore', 'Powai', 'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna',
       'Samsitpur', 'Lucknow', 'Telangana', 'Haryana', 'Silvassa',
       'Thiruvananthapuram', 'Faridabad', 'Roorkee', 'Ambernath',
       'Panchkula', 'Surat', 'Coimbatore', 'Andheri', 'Mangalore',
       'Telugana', 'Bhubaneswar', 'Kottayam', 'Beijing', 'Panaji',
       'Satara', 'Orissia', 'Jodhpur', 'New York', 'Santra',
       'Mountain View, Ca', 'Trivandrum', 'Jharkhand', 'Kanpur',
       'Bhilwara', 'Guwahati', 'Online Media\t#Ref!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

In [ ]:
Founders_counts = data2['Founders'].value_counts()

Founders_counts.head()

Founders
Ashneer Grover, Shashvat Nakrani    7
Byju Raveendran, Divya Gokulnath    5
Bhavish Aggarwal                    4
Ritesh Agarwal                      4
Nirmit Parikh                       3
Name: count, dtype: int64

In [ ]:
Investor_counts = data2['Investor'].value_counts()

Investor_counts.head()

Investor
Inflection Point Ventures    24
Tiger Global                 11
Venture Catalysts            11
Elevation Capital             7
Titan Capital                 6
Name: count, dtype: int64

In [ ]:
data2['Stage'].unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       '$1200000', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', '$300000', 'Early seed', 'Series D1', '$6000000',
       '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I'],
      dtype=object)

In [ ]:
Stage_counts = data2['Stage'].value_counts()

Stage_counts.head()

Stage
Seed            246
Pre-series A    157
Series A        126
Series B         49
Pre-seed         47
Name: count, dtype: int64

In [ ]:
data2['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'E-commerce',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Food & Beverages', 'Aeorspace', 'Deep Tech',
       'Dating', 'Gaming', 'Robotics', 'Retail', 'Food', 'Oil and Energy',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'HealthCare', 'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Hauz Khas',
       'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Social commerce', 'Mobile Games', 'Food Production', 'Podcast',
       'HeathTech', 'Battery', 'Content publishing', 'Water purification',
       'Content commerce', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'Consulting', 'BioTechnology', 'B2B Marketplace',
       'Health care', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'EV startup', 'HR Tech', 'Blockchain startup',
       'Food and Beverages', 'Beverages', 'Manufacturing startup',
       'Cryptocurrency', 'Vehicle repair startup', 'Advisory firm',
       'Legaltech', 'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'SpaceTech', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'IT company', 'Environmental service',
       'Job discovery platform', 'D2C Fashion', 'Heathcare', 'CRM',
       'Software', 'Nutrition', 'D2C startup', 'Innovation management',
       'Community platform', 'Venture capitalist', 'Networking',
       'Commercial Real Estate', 'AR startup', 'Consumer service',
       'Consumer goods', 'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'Tourism', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Interior Design',
       'Manchester, Greater Manchester', 'Product studio',
       'Aviation & Aerospace', 'Staffing & Recruiting'], dtype=object)

In [ ]:
Sector_counts = data2['Sector'].value_counts()

Sector_counts.head()

Sector
FinTech               122
EdTech                102
Financial Services     61
E-commerce             37
Food & Beverages       37
Name: count, dtype: int64

In [ ]:
# Get the value counts in Sector column sorted alphabetically
Sector_counts = data2['Sector'].value_counts().sort_index()

Sector_counts[200:250]

Sector
Professional Training & Coaching                                                                               2
Real Estate                                                                                                    7
Real estate                                                                                                    1
Recruitment                                                                                                    5
Renewable Energy                                                                                               6
Renewables & Environment                                                                                       3
Rental                                                                                                         2
Rental space                                                                                                   2
Retail                                                                                                        18
Robotics                                                                                                       1
SaaS                                                                                                           2
SaaS startup                                                                                                  13
Sales and Distribution                                                                                         1
Skill development                                                                                              1
Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience     1
Social Media                                                                                                   3
Social audio                                                                                                   1
Social commerce                                                                                                4
Social community                                                                                               1
Social media                                                                                                   1
Social network                                                                                                 3
Social platform                                                                                                1
Software                                                                                                       2
Software Startup                                                                                               2
Software company                                                                                               1
Solar                                                                                                          4
SpaceTech                                                                                                      4
Spiritual                                                                                                      1
Sports                                                                                                         2
Sports startup                                                                                                 2
SportsTech                                                                                                     3
Staffing & Recruiting                                                                                          1
Supply chain platform                                                                                          1
TaaS startup                                                                                                   1
Tech Startup                                                                                                  11
Tech startup                                                                                                   3
Telecommuncation                                                                                               1
Telecommunications                                                                                             2
Textiles                                                                                                       2
Tobacco                                                                                                        1
Tourism                                                                                                        1
Trading platform                                                                                               1
Translation & Localization                                                                                     1
Transportation                                                                                                 6
Vehicle repair startup                                                                                         1
Venture Capital                                                                                                1
Venture Capital & Private Equity                                                                               2
Venture capitalist                                                                                             1
Veterinary                                                                                                     1
Video communication                                                                                            1
Name: count, dtype: int64

In [ ]:
data2['Amount'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

Data Cleaning 2nd Dataset (data2)

In [ ]:
# Handling  Company_Brand

# Convert all enries to title
data2['Company_Brand'] = data2['Company_Brand'].str.title()

In [ ]:
# Handling Founded Column 

# Fill missing values with the median
data2['Founded'] = data2['Founded'].fillna(data2['Founded'].median())


# Convert 'Founded'  to integer datatype 
data2['Founded'] = data2 ['Founded'].astype(int)

In [ ]:
# Handling Hedquarter Column 

# Replace this values 'Food & Beverages', 'Online Media\t#Ref!', 'Information Technology & Services'- with Bangalore

data2['HeadQuarter']= data2['HeadQuarter'].replace('Food & Beverages','Bangalore' )
data2['HeadQuarter']= data2['HeadQuarter'].replace('Online Media\t#Ref!','Bangalore')
data2['HeadQuarter']= data2['HeadQuarter'].replace('Information Technology & Services', 'Bangalore')

# Fill missing values 
data2['HeadQuarter'].fillna('Bangalore', inplace=True)

# Convert all enries to title
data2['HeadQuarter'] = data2['HeadQuarter'].str.title()

In [ ]:
data2['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', 'Small Towns, Andhra Pradesh',
       'Goa', 'Rajsamand', 'Ranchi', 'Faridabad, Haryana', 'Gujarat',
       'Thane', 'Pune', 'Cochin', 'Noida', 'Chandigarh', 'Gurgaon',
       'Vadodara', 'Kolkata', 'Ahmedabad', 'Mohali', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Haryana', 'Silvassa',
       'Thiruvananthapuram', 'Faridabad', 'Roorkee', 'Ambernath',
       'Panchkula', 'Surat', 'Coimbatore', 'Andheri', 'Mangalore',
       'Telugana', 'Bhubaneswar', 'Kottayam', 'Beijing', 'Panaji',
       'Satara', 'Orissia', 'Jodhpur', 'New York', 'Santra',
       'Mountain View, Ca', 'Trivandrum', 'Jharkhand', 'Kanpur',
       'Bhilwara', 'Guwahati', 'Kochi', 'London', 'The Nilgiris',
       'Gandhinagar'], dtype=object)

In [ ]:
#Handling Founders Column 

#Fill missing Values 
data2['Founders'].fillna('Ashneer Grover & Shashvat Nakrani', inplace=True)

# Convert all entries to title case 
data2['Founders'] = data2['Founders'].str.title()

In [ ]:
#Handling Investor Column with the most appearing investor 

#Fill missing Values 
data2['Investor'].fillna('Inflection Point Ventures', inplace=True)

# Convert all entries to title case 
data2['Investor'] = data2['Investor'].str.title()

In [ ]:
# Handling stage column with the most appearing-'Seed ' 

# For 'Stage', fill missing values with a placeholder
data2['Stage'].fillna('Seed', inplace=True)

# Convert the stage column from object to category 

data2['Stage'] = data2['Stage'].astype('category')

In [ ]:
# Handling Sector Column

# Convert all values to lower case
data2['Sector'] = data2['Sector'].str.lower()

# Combine like values in the 'Sector' column 

from fuzzywuzzy import process

# List of standard sector names
standard_sectors = ['ai', 'api','ar/vr','accomodation','agritech','auto','b2b ','beauty ','beverage','bio','blockchain','car','cloud','co-living','co-working','construction', 'consumer', 'content', 'conversational','coworking', 'craft beer','cosmetics','crowdsourcing','cryptocurrency','customer', 'dairy','data','dating', 'deep tech', 'defense', 'digital','edtech','education','electricity ','entertainment','ev', 'financ','ecommerce'
                    'eye wear ', 'fashion','fintech ','food','gaming ','health ','home','hospitality','hr','hygiene','insurance','insurtech ', 'investment ','iot','jewellery ','information technology','job portal','legal ','life sciences','linguistic spiritual','location analytics','logistics','logitech','manufacturing','learning','market', 'med tech','media','mobility','company','nano','neo','networki','nutrition','online','startup','pharma','preschool','proptech','publication','real estate','renewable','rental','retail',
                    'robotics','saas','sales','sanitation','scanning','service','social','solution','solar','space','sports','supply','telecomm','tourism','tech startup','trading','transport','travel','tyre','unknown','venture','video','virtual','visual','warehouse','protection','work','yoga']
# Function to match and replace with fuzzy matching
def replace_sector_fuzzy(sector, choices):
    match, score = process.extractOne(sector, choices)
    if score > 90:  
        return match
    else:
        return sector

# Apply the function to the 'Sector' column
data2['Sector'] = data2['Sector'].apply(lambda x: replace_sector_fuzzy(x, standard_sectors))

# Organise all Sector entries to title case 
data2['Sector'] = data2['Sector'].str.title()

data2['Sector']

0                     Startup
1                      Edtech
2                      Edtech
3              B2B E-Commerce
4                    Fintech
                ...
1204    Staffing & Recruiting
1205         Food & Beverages
1206       Financial Services
1207                   Edtech
1208       Financial Services
Name: Sector, Length: 1209, dtype: object

In [ ]:
Sector_counts = data2['Sector'].value_counts()

Sector_counts.head(10)

Sector
Fintech                              122
Edtech                               102
Financial Services                    61
Healthcare                            52
Food & Beverages                      37
E-Commerce                            37
Information Technology & Services     36
Automotive                            33
Computer Software                     31
Consumer Goods                        25
Name: count, dtype: int64

In [ ]:
# Handling the Amount Column


# Ensure the Amount column is treated as strings
data2['Amount'] = data2['Amount'].astype(str)

# List of specific non-numeric values to drop
non_numeric_values = [
    "Undisclosed", "Upsparks", "Series C", "Seed", "Pre-series A",
    "ITO Angel Network, LetsVenture", "ah! Ventures", "JITO Angel Network, LetsVenture", ""
]

# Step 1: Drop specific non-numeric values
data2 = data2[~data2['Amount'].isin(non_numeric_values)] 

# Step 2: Remove dollar signs and commas
data2['Amount'] = data2['Amount'].str.replace(r'[$,]', '', regex=True)

# Step 3: Convert the Amount column to numeric, setting errors='coerce' will turn non-convertible values to NaN
data2['Amount'] = pd.to_numeric(data2['Amount'], errors='coerce')

# Step 4: Fill all missing values with the median of the Amount column
data2['Amount'] = data2['Amount'].fillna(data2['Amount'].median())

# Step 5: Convert Amount to Foat Datatype  
data2['Amount'] = data2['Amount'].astype(float)

data2['Amount']

0         1200000.0
1       120000000.0
2        30000000.0
3        51000000.0
4         2000000.0
           ...
1204      3000000.0
1205     20000000.0
1206     55000000.0
1207     26000000.0
1208      8000000.0
Name: Amount, Length: 1156, dtype: float64

In [ ]:
#Check to confirm there are no missing values     

data2.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [ ]:
# Drop duplicates for data2- they were 19 duplicates will this affect the results of our data

data2.drop_duplicates( inplace=True)

In [ ]:
#Check to see if the are duplicated values after filling with the mode values 

data2.duplicated().sum()

0

In [ ]:
#Add 'Year' Column 2021
data2['Year']=2021

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1138 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1138 non-null   object
 1   Founded        1138 non-null   int32
 2   HeadQuarter    1138 non-null   object
 3   Sector         1138 non-null   object
 4   What_it_does   1138 non-null   object
 5   Founders       1138 non-null   object
 6   Investor       1138 non-null   object
 7   Amount         1138 non-null   float64
 8   Stage          1138 non-null   category
 9   Year           1138 non-null   int64
dtypes: category(1), float64(1), int32(1), int64(1), object(6)
memory usage: 86.9+ KB

3rd Dataset 2019 (data3)

* This Dataset is downloaded from a onedrive

In [ ]:
#Load the one drive file which is the 2019 startups data (3rd Dataset)

data3=pd.read_excel ('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\startup_funding2019.xlsx')

In [ ]:
data3.head ()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN

In [ ]:
data3.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year
84,Infra.Market,0,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000.0,Series A,2019
85,Oyo,2013,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000.0,False,2019
86,Gomechanic,2016,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000.0,Series B,2019
87,Spinny,2015,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000.0,False,2019
88,Ess Kay Fincorp,0,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000.0,False,2019

In [ ]:
data3.shape

(89, 9)

In [ ]:
data3.describe().T

         count         mean       std     min     25%     50%      75%     max
Founded   60.0  2014.533333  2.937003  2004.0  2013.0  2015.0  2016.25  2019.0

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [ ]:
# Missing values with their percentages 
data3.isnull().sum().to_frame('Null Count').assign(Percentage=lambda x: (x['Null Count'] / len(data)) * 100)

               Null Count  Percentage
Company/Brand           0    0.000000
Founded                29    2.756654
HeadQuarter            19    1.806084
Sector                  5    0.475285
What it does            0    0.000000
Founders                3    0.285171
Investor                0    0.000000
Amount($)               0    0.000000
Stage                  46    4.372624

In [ ]:
data3.duplicated().sum()

0

In [ ]:
data3['Sector'].unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', 'Unknown',
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [ ]:
Sector_counts = data3['Sector'].value_counts()

Sector_counts.head(10)

Sector
Edtech        7
Unknown       5
Fintech       5
AgriTech      4
Technology    4
SaaS          4
E-commerce    3
Automobile    3
Logistics     3
Food          2
Name: count, dtype: int64

In [ ]:
data3['HeadQuarter'].unique()

array(['Unknown', 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

Data cleaning 3rd Dataset 2019- (daat3)

In [ ]:
# Handling the Company/Brand Colum

#Change column name to Company_Brand

data3.rename(columns={'Company/Brand': 'Company_Brand'}, inplace=True)

# Convert all enries to title
data3['Company_Brand'] = data3['Company_Brand'].str.title()

In [ ]:
# Handling Founded Column

# Fill missing values with the median
data3['Founded'] = data3['Founded'].fillna(data3['Founded'].median())


# Convert 'Founded'  to integer datatype 
data3['Founded'] = data3 ['Founded'].astype(int)

In [ ]:
# Handling the HeadQuarter Colum

In [ ]:
# Handling the Sector column 

#Fill missing Values 
data2['Sector'].fillna('Edtech', inplace=True)

In [85]:
# Step 1: Convert the column to string type
data3['Amount($)'] = data3['Amount($)'].astype(str)
 
# Step 2: Remove any non-numeric characters, such as '$' and ','
data3['Amount($)'] = data3['Amount($)'].str.replace('[\$,]', '', regex=True)
 
# Step 3: Replace 'undisclosed' with NaN
data3['Amount($)'].replace('undisclosed', np.nan, inplace=True)
 
# Step 4: Convert the column to numeric (float), ignoring errors
data3['Amount($)'] = pd.to_numeric(data3['Amount($)'], errors='coerce')
 
# Step 5: Fill missing values with 0
data3['Amount($)'].fillna(0, inplace=True)
 
# Confirm the datatype conversion
print(data3.dtypes)

Company/Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)        float64
Stage             object
dtype: object

In [86]:
# Fill missing values in our Table 3 (df)

# For columns with a few missing values, fill with 'Unknown'
data3['HeadQuarter'].fillna('Unknown', inplace=True)
data3['Founders'].fillna('Unknown', inplace=True)
data3['Sector'].fillna('Unknown', inplace=True)

data3['Stage'].fillna( data3['Stage']==0 , inplace = True)

In [87]:
# For 'Founded', fill missing values with 0
data3['Founded'].fillna(data3 ['Founded']==0, inplace=True)

In [88]:
# Convert 'Founded'  to integer datatype for consistency

data['Founded'] = data3 ['Founded'].astype(int)

In [89]:
# Check to confirm there are no missing values
data3.isnull().sum()

Company/Brand    0
Founded          0
HeadQuarter      0
Sector           0
What it does     0
Founders         0
Investor         0
Amount($)        0
Stage            0
dtype: int64

In [90]:

data3['Stage'] = data3['Stage'].astype('category')

In [91]:
data3['Year']=2019

In [92]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        89 non-null     object
 2   HeadQuarter    89 non-null     object
 3   Sector         89 non-null     object
 4   What it does   89 non-null     object
 5   Founders       89 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     float64
 8   Stage          89 non-null     category
 9   Year           89 non-null     int64
dtypes: category(1), float64(1), int64(1), object(7)
memory usage: 7.1+ KB

4th Dataset 2018 (data4)

* This dataset is from a GitHub repository. We had to clone from GitHub then copy csv file to our notebook

In [93]:
# Load data from GitHub repository 

data4=pd.read_csv('C:\\Users\\Admin\\OneDrive\\OneDrive-Azubi\\CA-LP1\\LP1-Indian-Startup-Ecosystem-1\\CA-LP1-Indian-Startup-Ecosystem-1')

In [94]:
data4.head ()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [95]:
data4.shape

(526, 6)

In [96]:
data4.describe().T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

In [97]:
data4.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [98]:
data4.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [99]:
data4.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [100]:
data4.duplicated().sum()

1

Data Cleaning our 4th Dataset (data4)

In [101]:
#  Step 1: Convert all values in the 'Amount' column to strings
data4['Amount'] = data4['Amount'].astype(str)
 
# Step 2: Remove any non-numeric characters such as '$' and ','
data4['Amount'] = data4['Amount'].str.replace('[\$,]', '', regex=True)
data4['Amount']= data4['Amount'].str.replace('[\₹]', '' , regex=True )
 
# Step 3: Replace 'undisclosed' with NaN
data4['Amount'].replace('undisclosed', np.nan, inplace=True)
 
# Step 4: Convert the column to numeric (float), ignoring errors
data4['Amount'] = pd.to_numeric(data2['Amount'], errors='coerce')
 
# Step 5: Fill NaN values with 0
data4['Amount'].fillna(0, inplace=True)

print(data4['Amount'].dtype)

float64

In [102]:
# Convert 'Round/Series' to a Category

data4['Round/Series'] = data4['Round/Series'].astype('category')

In [103]:
# Drop duplicates

data4.drop_duplicates( inplace=True)

In [104]:
# Check for duplicates 

data4.duplicated().sum()

0

In [105]:
data4['Year']=2018

In [106]:
data4.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    category
 3   Amount         526 non-null    float64
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
 6   Year           526 non-null    int64
dtypes: category(1), float64(1), int64(1), object(4)
memory usage: 26.0+ KB

## Data Preparation

Cleaning of our data was done after each of the datasets. In this phase we concatenate our data

In [107]:
# Standardize column names
data.columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage','Year']
data2.columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage','Year']
data3.columns = ['Company_Brand', 'Sector', 'Stage', 'Amount', 'HeadQuarter', 'What_it_does']
data4.columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage','Year']


# Ensure data3 has the same columns as the others
columns_full = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage', 'Year']
columns_partial = ['Company_Brand', 'Sector', 'Stage', 'Amount', 'HeadQuarter', 'What_it_does', 'Year']

# Add missing columns to data3
for col in columns_full:
    if col not in data3.columns:
        data3[col] = 'Unknown'

# Reorder columns in data3 to match the full column list
data3 = data3[columns_full]

# Standardize column names
data.columns = columns_full
data2.columns = columns_full
data4.columns = columns_full
data3.columns = columns_full

# Convert 'Amount' columns to float and handle currency conversion
exchange_rate_inr_to_usd = 83  

def clean_and_convert_amount(df, currency='USD'):
    df['Amount'] = df['Amount'].replace({'\$': '', ',': '', '₹': ''}, regex=True)
    if currency == 'INR':
        df['Amount'] = df['Amount'].astype(float) / exchange_rate_inr_to_usd
    else:
        df['Amount'] = df['Amount'].astype(float)
    return df

data = clean_and_convert_amount(data, 'USD')
data2 = clean_and_convert_amount(data2, 'USD')
data3 = clean_and_convert_amount(data3, 'INR')  # Assuming df3 amounts are in INR
data4 = clean_and_convert_amount(data4, 'USD')

# Combine DataFrames
df_combined = pd.concat([data, data2, data3, data4], ignore_index=True)

# Handle missing values (example: fill with 'Unknown' or drop)
df_combined.fillna('Unknown', inplace=True)

# Verify the combined DataFrame
print(df_combined.info())
print(df_combined.head())

ValueError: Length mismatch: Expected axis has 10 elements, new values have 6 elements